<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- imports bootstrap -->
    <link rel="stylesheet" type="text/css" href="../styles/styles.css"> <!-- imports styles.css stylesheet -->
    <title></title>
  </head>
  <body>
    <div class="card">
      <img src="https://i.ibb.co/8sNQR8Y/Screen-Shot-2019-07-25-at-3-13-11-PM.png" height="600px" width="400px" alt="switch" border="0" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Nintendo</h5>
        <p class="card-text">The Nintendo Switch is a video game console developed by Nintendo and released on March 3, 2017. It is a hybrid console that can be used as both a stationary and portable device.</p>
        <p class="card-text"><small class="text-muted"></small></p>
        <input type="text" answer="user-review">
      </div>
    </div>
  </body>
</html>
