<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Videogames.com</title>
    <link rel="icon" href="http://images.medicaldaily.com/sites/medicaldaily.com/files/styles/headline/public/2015/11/19/video-games.jpg" type="image" sizes="16x16">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- imports bootstrap -->
    <link rel="stylesheet" type="text/css" href="../styles/flashGames.css"> <!-- imports styles.css stylesheet -->
  </head>
  <body>
    <div class="pos-f-t">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Navbar content -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"><span class="sr-only">(current)</span>Back to Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Contact</a>
        </li>
        </ul>
      </nav>
    </div>

    <h1>This is a list of some of the best flash games:</h1>

<!-- First 3 games -->
    <div class="card-group">
      <div class="card">
        <img style="height:250px;" src="../../images/HappyWheelsHomePage.png" class="card-img-top" alt="Happy Wheels">
        <div class="card-body text-center">
          <h5 class="card-title">Happy Wheels</h5>
          <p class="card-text">Wanna find out? Cuz I ain't telli' you.</p>
          <button type="button" class="btn btn-primary btn-sm center-block" onclick="window.location.href = '/happyWheels'">Faneto</button>
        </div>
      </div>
      <div class="card">
        <img style="height:250px;" src="../../images/RaftWars1HomePage.png" class="card-img-top" alt="Raft Wars 1">
        <div class="card-body text-center">
          <h5 class="card-title">Raft Wars 1</h5>
          <p class="card-text">Wanna find out? Cuz I ain't telli' you.</p>
          <button type="button" class="btn btn-primary btn-sm center-block" onclick="window.location.href = '/raftWars'">Faneto</button>
        </div>
      </div>
      <div class="card">
        <img style="height:250px;" src="../../images/RaftWars2HomePage.png" class="card-img-top" alt="Raft Wars 1">
        <div class="card-body text-center">
          <h5 class="card-title">Raft Wars 2</h5>
          <p class="card-text">Wanna find out? Cuz I ain't telli' you.</p>
          <button type="button" class="btn btn-primary btn-sm center-block" onclick="window.location.href = '/raftWars2'">Faneto</button>
        </div>
      </div>
    </div>

<!-- Second 3 Games -->
    <div class="card-group">
      <div class="card">
        <img style="height:250px;" src="../../images/StartingPage.png" class="card-img-top" alt="Run 1">
        <div class="card-body text-center">
          <h5 class="card-title">Run 1</h5>
          <p class="card-text">Wanna find out? Cuz I ain't telli' you.</p>
          <button type="button" class="btn btn-primary btn-sm center-block" onclick="window.location.href = '/run1'">Faneto</button>
        </div>
      </div>
      <div class="card">
        <img style="height:250px;" src="../../images/Run2HomePage.png" class="card-img-top" alt="Run 2">
        <div class="card-body text-center">
          <h5 class="card-title">Run 2</h5>
          <p class="card-text">Wanna find out? Cuz I ain't telli' you.</p>
          <button type="button" class="btn btn-primary btn-sm center-block" onclick="window.location.href = '/run2'">Faneto</button>
        </div>
      </div>
      <div class="card">
        <img style="height:250px;" src="../../images/Run3HomePage.png" class="card-img-top" alt="Run 3">
        <div class="card-body text-center">
          <h5 class="card-title">Run 3</h5>
          <p class="card-text">Wanna find out? Cuz I ain't telli' you.</p>
          <button type="button" class="btn btn-primary btn-sm center-block" onclick="window.location.href = '/run3'">Faneto</button>
        </div>
      </div>
    </div>

<!-- Last 3 Games -->
    <div class="card-group">
      <div class="card">
        <img style="height:250px;" src="../../images/whg1HomePage.png" class="card-img-top" alt="Raft Wars 1">
        <div class="card-body text-center">
          <h5 class="card-title">World's Hardest Game</h5>
          <p class="card-text">Wanna find out? Cuz I ain't telli' you.</p>
          <button type="button" class="btn btn-primary btn-sm center-block" onclick="window.location.href = '/whg'">Faneto</button>
        </div>
      </div>
      <div class="card">
        <img style="height:250px;" src="../../images/whg2HomePage.png" class="card-img-top" alt="Raft Wars 1">
        <div class="card-body text-center">
          <h5 class="card-title">World's Hardest Game 2</h5>
          <p class="card-text">Wanna find out? Cuz I ain't telli' you.</p>
          <button type="button" class="btn btn-primary btn-sm center-block" onclick="window.location.href = '/whg2'">Faneto</button>
        </div>
      </div>
      <div class="card">
        <img style="height:250px;" src="../../images/whg3HomePage.png" class="card-img-top" alt="Raft Wars 1">
        <div class="card-body text-center">
          <h5 class="card-title">World's Hardest Game 3</h5>
          <p class="card-text">Wanna find out? Cuz I ain't telli' you.</p>
          <button type="button" class="btn btn-primary btn-sm center-block" onclick="window.location.href = '/whg3'">Faneto</button>
        </div>
      </div>
    </div>

<!-- imports all script files including project's script.js file, jQuery, and bootstrap script files -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../scripts/script.js"></script>
  </body>
</html>
