<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Videogames.com</title>
    <link rel="icon" href="http://images.medicaldaily.com/sites/medicaldaily.com/files/styles/headline/public/2015/11/19/video-games.jpg" type="image" sizes="16x16">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- imports bootstrap -->
    <link rel="stylesheet" type="text/css" href="../styles/flashGames.css"> <!-- imports styles.css stylesheet -->
  </head>
  <body>

    <nav class="navbar navbar-light" style="background-color: #4C5760;">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link"  style= "color: #7497b5" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="color: #7497b5;" href="/about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="color: #7497b5;" href="#">Contact</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: #7497b5;" href="/consoles" role="button" aria-haspopup="true" aria-expanded="false">Console</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" style="color: #7497b5;" href="/consoles">Console Page</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/video_games">Video Game Catalogue</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/xbox_one">Xbox One</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/PS4">PlayStation 4</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/3ds">Nintendo 3Ds</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/flashGamesHomepage">Flash Games</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" data-toggle="dropdown" style="background-color: #4b2e63; color: #7497b5;" href="/consoles" role="button" aria-haspopup="true" aria-expanded="false">Games</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" style="color: #7497b5;" href="/xbox_one">Xbox One Games:</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/spongebob_squarepants">Spongebob Squarepants</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/doom_eternal">Doom Eternal</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/borderlands3">Borderlands 3</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/star_wars_jedi">Star Wars JEDI Fallen Order</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/beyond_good_and_evil_2">Beyond Good and Evil 2</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/gears5">Gears 5</a>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color: #7497b5;" href="/PS4">PlayStation Games:</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/watch_dogs_legion">Watch Dogs LEGION</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/marvel_avengers">Avengers</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/cyberpunk2077">Cyberpunk 2077</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/the_last_of_us_2">The Last of Us Part II</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/medievil">MediEvil</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/predator">Predator</a>
          <div class="dropdown-divider"></div>
                <a class="dropdown-item" style="color: #7497b5;" href="/nintendo">Nintendo Games</a>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color: #7497b5;" href="/flashGamesHomepage">Flash Games:</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/happyWheels">Happy Wheels</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/raftWars">Raft Wars 1</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/raftWars2">Raft Wars 2</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/run1">Run 1</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/run2">Run 2</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/run3">Run 3</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/whg">World's Hardest Game</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/whg2">World's Hardest Game 2</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/whg3">World's Hardest Game 3</a>

          </div>
        </li>
      </ul>
    </nav>

    <div>
      <h1 style="margin: 25px;">What is Happy Wheels?</h1>
      <p style="margin-left: 50px; margin-right: 50px;">Happy Wheels is a ragdoll-physics-adventure based Flash game created by Jim Bonacci and launched in June of 2010.  Users may create and share their own custom scenarios using the expansive level editor, play some of the over 10 million already-existing user-made levels, or take a look at some of the featured levels - the best levels in the game.</p>

      <h1 style="margin: 25px;">What makes Happy Wheels so Unique?</h1>
      <p style="margin-left: 50px; margin-right: 50px;">Players control a selection of various, unique characters with their goal being to get to the finish line, activate a trigger that triggers victory, or collect a required amount of tokens while avoiding being splattered across the level by many hazards and obstacles.The game is most notable for its dark sense of humor and its large amounts of blood and gore.</p>

      <h1 style="margin: 25px;">What inspired the creator to make this?</h1>
      <p style="margin-left: 50px; margin-right: 50px;">Jim Bonacci was motivated to make the game out of disappointment of other ragdoll-physics games. In an October 2010 interview, he stated that "No one was making their ragdolls die properly. They'd usually flop around harmlessly or in some instances have the same canned animation over and over." Originally, Happy Wheels was made for fun between Jim and some friends, it only contained Wheelchair Guy, and the first level, Happy Green Hills. After it gained some popularity, he made it into what the game is now, and published it to his website on June 4th, 2010</p>

      <h1 style="margin: 25px;">Here's a quick tutorial on the game:</h1>
      <center>
      <img style="margin: 25px; width: 700px;" src="../../images/HappyWheelsHomePage.png" alt="">
      </center>
      <p style="margin-left: 50px; margin-right: 50px;">Here is the starting page that shows you all the buttons you can click.</p>

      <center>
      <img style="margin: 25px; width: 700px;" src="../../images/HappyWheelsWhenDemoClicked.png" alt="">
      </center>
      <p style="margin-left: 50px; margin-right: 50px;">When you click the demo button, it takes you to a level selection from which you can pick a level.</p>

      <center>
      <img style="margin: 25px; width: 700px;" src="../../images/HappyWheelsWhenOptionsClicked.png" alt="">
      </center>
      <p style="margin-left: 50px; margin-right: 50px;">This just lets you adjust the quality and sound of your gameplay.</p>

      <center>
      <img style="margin: 25px; width: 700px;" src="../../images/HappyWheelsWhenControlsClicked.png" alt="">
      </center>
      <p style="margin-left: 50px; margin-right: 50px;">When you click the controls button, it shows you what actions you must take in order to move. This is useful because many people struggle with figuring things out.</p>

      <center>
      <img style="margin: 25px; width: 700px;" src="../../images/HappyWheelsWhenCreditsClicked.png" alt="">
      </center>
      <p style="margin-left: 50px; margin-right: 50px; margin-bottom: 50px;">As all creation do, they leave their name to show that they did all this work.</p>

    </div>

    <!-- imports all script files including project's script.js file, jQuery, and bootstrap script files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../scripts/script.js"></script>
  </body>
</html>
