<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Videogames.com</title>
    <link rel="icon" href="http://images.medicaldaily.com/sites/medicaldaily.com/files/styles/headline/public/2015/11/19/video-games.jpg" type="image" sizes="16x16">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- imports bootstrap -->
    <link rel="stylesheet" type="text/css" href="../styles/flashGames.css"> <!-- imports styles.css stylesheet -->
  </head>
  <body>
    <div class="pos-f-t">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Navbar content -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/flashGamesHomepage"><span class="sr-only">(current)</span>Back to Selection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Contact</a>
        </li>
        </ul>
      </nav>
    </div>

    <div>
      <h1 style="margin: 25px;">What is Happy Wheels?</h1>
      <p style="margin-left: 50px; margin-right: 50px;">Happy Wheels is a ragdoll-physics-adventure based Flash game created by Jim Bonacci and launched in June of 2010.  Users may create and share their own custom scenarios using the expansive level editor, play some of the over 10 million already-existing user-made levels, or take a look at some of the featured levels - the best levels in the game.</p>

      <h1 style="margin: 25px;">What makes Happy Wheels so Unique?</h1>
      <p style="margin-left: 50px; margin-right: 50px;">Players control a selection of various, unique characters with their goal being to get to the finish line, activate a trigger that triggers victory, or collect a required amount of tokens while avoiding being splattered across the level by many hazards and obstacles.The game is most notable for its dark sense of humor and its large amounts of blood and gore.</p>

      <h1 style="margin: 25px;">What inspired the creator to make this?</h1>
      <p style="margin-left: 50px; margin-right: 50px;">Jim Bonacci was motivated to make the game out of disappointment of other ragdoll-physics games. In an October 2010 interview, he stated that "No one was making their ragdolls die properly. They'd usually flop around harmlessly or in some instances have the same canned animation over and over." Originally, Happy Wheels was made for fun between Jim and some friends, it only contained Wheelchair Guy, and the first level, Happy Green Hills. After it gained some popularity, he made it into what the game is now, and published it to his website on June 4th, 2010</p>

      <h1 style="margin: 25px;">Here's a quick tutorial on the game:</h1>
      <center>
      <img style="margin: 25px; width: 700px;" src="../../images/HappyWheelsHomePage.png" alt="">
      </center>
      <p style="margin-left: 50px; margin-right: 50px;">Here is the starting page that shows you all the buttons you can click.</p>

      <center>
      <img style="margin: 25px; width: 700px;" src="../../images/HappyWheelsWhenDemoClicked.png" alt="">
      </center>
      <p style="margin-left: 50px; margin-right: 50px;">When you click the demo button, it takes you to a level selection from which you can pick a level.</p>

      <center>
      <img style="margin: 25px; width: 700px;" src="../../images/HappyWheelsWhenOptionsClicked.png" alt="">
      </center>
      <p style="margin-left: 50px; margin-right: 50px;">This just lets you adjust the quality and sound of your gameplay.</p>

      <center>
      <img style="margin: 25px; width: 700px;" src="../../images/HappyWheelsWhenControlsClicked.png" alt="">
      </center>
      <p style="margin-left: 50px; margin-right: 50px;">When you click the controls button, it shows you what actions you must take in order to move. This is useful because many people struggle with figuring things out.</p>

      <center>
      <img style="margin: 25px; width: 700px;" src="../../images/HappyWheelsWhenCreditsClicked.png" alt="">
      </center>
      <p style="margin-left: 50px; margin-right: 50px; margin-bottom: 50px;">As all creation do, they leave their name to show that they did all this work.</p>

    </div>
    
    <!-- imports all script files including project's script.js file, jQuery, and bootstrap script files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../scripts/script.js"></script>
  </body>
</html>
