<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Videogames.com</title>
    <link rel="icon" href="http://images.medicaldaily.com/sites/medicaldaily.com/files/styles/headline/public/2015/11/19/video-games.jpg" type="image" sizes="16x16">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- imports bootstrap -->
    <link rel="stylesheet" type="text/css" href="../styles/flashGames.css"> <!-- imports styles.css stylesheet -->
  </head>
  <body>

    <nav class="navbar navbar-light" style="background-color: #4C5760;">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link"  style= "color: #7497b5" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="color: #7497b5;" href="/about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="color: #7497b5;" href="#">Contact</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: #7497b5;" href="/consoles" role="button" aria-haspopup="true" aria-expanded="false">Console</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" style="color: #7497b5;" href="/consoles">Console Page</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/video_games">Video Game Catalogue</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/xbox_one">Xbox One</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/PS4">PlayStation 4</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/3ds">Nintendo 3Ds</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/flashGamesHomepage">Flash Games</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" data-toggle="dropdown" style="background-color: #4b2e63; color: #7497b5;" href="/consoles" role="button" aria-haspopup="true" aria-expanded="false">Games</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" style="color: #7497b5;" href="/xbox_one">Xbox One Games:</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/spongebob_squarepants">Spongebob Squarepants</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/doom_eternal">Doom Eternal</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/borderlands3">Borderlands 3</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/star_wars_jedi">Star Wars JEDI Fallen Order</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/beyond_good_and_evil_2">Beyond Good and Evil 2</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/gears5">Gears 5</a>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color: #7497b5;" href="/PS4">PlayStation Games:</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/watch_dogs_legion">Watch Dogs LEGION</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/marvel_avengers">Avengers</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/cyberpunk2077">Cyberpunk 2077</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/the_last_of_us_2">The Last of Us Part II</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/medievil">MediEvil</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/predator">Predator</a>
          <div class="dropdown-divider"></div>
                <a class="dropdown-item" style="color: #7497b5;" href="/nintendo">Nintendo Games</a>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color: #7497b5;" href="/flashGamesHomepage">Flash Games:</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/happyWheels">Happy Wheels</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/raftWars">Raft Wars 1</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/raftWars2">Raft Wars 2</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/run1">Run 1</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/run2">Run 2</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/run3">Run 3</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/whg">World's Hardest Game</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/whg2">World's Hardest Game 2</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/whg3">World's Hardest Game 3</a>

          </div>
        </li>
      </ul>
    </nav>

    <div>
      <h1 style="margin: 25px;">What is Raft Wars?</h1>
      <p style="margin-left: 50px; margin-right: 50px;">Raft Wars takes place on a beach with Simon and his family. Simon discovers treasure and after it goes on the news pirates, vikings, thugs, japanese warriors, indians, nieghbors, and even his own parents battle out on the seas for the treature, and you have to team up with your brother to defend it. The purpose of the game is to defeat all the bad guys in all 11 levels. You use Simon's brother as the main character (or until he dies, then you use Simon or any other character). There are two ways of defeating your enemy:

Keep shooting tennis balls (or any weapon you have) at them until they lose all their HP (two tennis shots in the head usually defeats your opponent and a rocket or missile shot straight at the head kills your opponent)

Or getting them to fall into the water (or what from Simon's brother says "sleeping with the fishes")

You have three weapons:

Tennis balls

Grenades

Rockets (Missiles)

You have an unlimited amount of tennis balls as for the grenade and the missile, you buy those with your points. You can only have two of each.

You also have a few sets of rafts. The regular raft is two floating rafts tied together. You are in the front orange part of the raft and Simon is on the duck part of the raft in the back. You can get upgrades for 1500 points. The first upgrade is an extra raft with a dog (usually the dog is easily killed). The second upgrade is a white board with black floatables and an extra character. The last upgrade is the same as the second upgrade but with stairs and a flag. You go back to the regular one when fighting Simon's parents.</p>

      <h1 style="margin: 25px;">What makes Raft Wars so Unique?</h1>
      <p style="margin-left: 50px; margin-right: 50px;">There are numerous of characters in the game and Simon is the only character who was named in the game. Raft Wars was the first Flash Game that involved a mini golf concept. The difference between Mini-Golf and Raft Wars is that children save the day and makes kids feel empowered. Most levels are difficult, so being able to complete makes you feel like a complete boss.</p>

      <h1 style="margin: 25px;">What characters can you play as?</h1>
      <p style="margin-left: 50px; margin-right: 50px;">Simon - Simon is the main character in the game. He battles in the sea with his brother after he discovers treasure which he found on the beach.<strong>There are many more!</strong></p>

      <h1 style="margin: 25px;">Here's a quick tutorial on the game:</h1>
      <center>
      <img style="margin: 25px; width: 700px;" src="../../images/RaftWars1HomePage.png" alt="sdf">
      </center>
      <p style="margin-left: 50px; margin-right: 50px;">Here is the starting page that shows determines your journey.</p>

      <center>
      <img style="margin: 25px; width: 700px;" src="../../images/RaftWars1Backstory.png" alt="rwefs">
      </center>
      <p style="margin-left: 50px; margin-right: 50px;">Whenever this image appears on your screen while playing, the significance is to give the player some background on the storyline of the game. It may not be the best storyline, but most games don't have one. For a Flash Game, this is very good quality.</p>

      <center>
      <img style="margin: 25px; width: 700px;" src="../../images/RaftWars1Tutorial.png" alt="qrgefwvd">
      </center>
      <p style="margin-left: 50px; margin-right: 50px;">This is our first level. This level tells you what buttons to press in order to meet the objective.</p>

      <center>
      <img style="margin: 25px; width: 700px;" src="../../images/RaftWars1Results.png" alt="ryj5etrus">
      </center>
      <p style="margin-left: 50px; margin-right: 50px;">After you complete the level, you will be shown your rewards. Also known as credits.</p>

      <center>
      <img style="margin: 25px; width: 700px;" src="../../images/RaftWars1UpgradingWeapons.png" alt="wuhgru">
      </center>
      <p style="margin-left: 50px; margin-right: 50px; margin-bottom: 50px;">As you finish getting your results, you're taken to the level select that conveniently also lets you upgrade and buy weapons.</p>

    </div>

    <!-- imports all script files including project's script.js file, jQuery, and bootstrap script files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../scripts/script.js"></script>
  </body>
</html>
