<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- imports bootstrap -->
    <link rel="stylesheet" type="text/css" href="../styles/styles.css"> <!-- imports styles.css stylesheet -->
    <title>3ds Games</title>
  </head>
  <body>

    <nav class="navbar navbar-light" style="background-color: #4C5760;">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link"  style= "color: #7497b5" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="color: #7497b5;" href="/about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="color: #7497b5;" href="#">Contact</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" data-toggle="dropdown" style="background-color: #4b2e63; color: #7497b5;" href="/consoles" role="button" aria-haspopup="true" aria-expanded="false">Console</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" style="color: #7497b5;" href="/consoles">Console Page</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/video_games">Video Game Catalogue</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/xbox_one">Xbox One</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/PS4">PlayStation 4</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/3ds">Nintendo 3Ds</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/flashGamesHomepage">Flash Games</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: #7497b5;" href="/consoles" role="button" aria-haspopup="true" aria-expanded="false">Games</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" style="color: #7497b5;" href="/xbox_one">Xbox One Games:</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/spongebob_squarepants">Spongebob Squarepants</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/doom_eternal">Doom Eternal</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/borderlands3">Borderlands 3</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/star_wars_jedi">Star Wars JEDI Fallen Order</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/beyond_good_and_evil_2">Beyond Good and Evil 2</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/gears5">Gears 5</a>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color: #7497b5;" href="/PS4">PlayStation Games:</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/watch_dogs_legion">Watch Dogs LEGION</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/marvel_avengers">Avengers</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/cyberpunk2077">Cyberpunk 2077</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/the_last_of_us_2">The Last of Us Part II</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/medievil">MediEvil</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/predator">Predator</a>
          <div class="dropdown-divider"></div>
                <a class="dropdown-item" style="color: #7497b5;" href="/nintendo">Nintendo Games</a>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color: #7497b5;" href="/flashGamesHomepage">Flash Games:</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/happyWheels">Happy Wheels</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/raftWars">Raft Wars 1</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/raftWars2">Raft Wars 2</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/run1">Run 1</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/run2">Run 2</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/run3">Run 3</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/whg">World's Hardest Game</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/whg2">World's Hardest Game 2</a>
              <a class="dropdown-item" style="color: #7497b5;" href="/whg3">World's Hardest Game 3</a>
            </div>
          </li>
        </ul>
      </nav>
      
    <h1>Nintendo 3ds Games</h1>
    <div class="card-group">
      <div class="card">
        <img src="https://static.gamespot.com/uploads/screen_kubrick/1534/15343359/3158933-1223260248-pokem.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pokemon Sun and Moon</h5>
          <p class="card-text">Pokémon Sun and Pokémon Moon are role-playing video games developed by Game Freak, published by The Pokémon Company and Nintendo for the Nintendo 3DS. They are the first installments in the seventh generation of Pokémon games.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    <div class="card">
    <img src="https://cdn3.dualshockers.com/wp-content/uploads/2014/08/N3DS_SuperSmashBros_illustration02.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Super Smash Bros. for Nintendo 3DS and Wii U</h5>
      <p class="card-text">Super Smash Bros. for Nintendo 3DS and Super Smash Bros. for Wii U are crossover fighting video games developed by Bandai Namco Studios and Sora Ltd. and published by Nintendo for the Nintendo 3DS and Wii U video game consoles..</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
    </div>
    <div class="card">
    <img src="https://hb.imgix.net/e7903a82c21e541ec15ddb9fd7508095206b71de.jpg?auto=compress,format&fit=crop&h=353&w=616&s=6ad9c3c822a0382425caf922b273d0db" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Fire Emblem Awakening</h5>
      <p class="card-text">Fire Emblem Awakening is a tactical role-playing video game, developed by Intelligent Systems and Nintendo SPD and published by Nintendo for the Nintendo 3DS handheld video game console in April 2012 in Japan, and 2013 outside Japan.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
    </div>
    </div>
    <div class="card-group">
      <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/90/CaptainToadtreasuretracker.png/220px-CaptainToadtreasuretracker.png" width="400px"  height="400px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Captain Toad: Treasure Tracker'</h5>
          <p class="card-text">Our stubby hero must dodge dangers and track treasures across many trap-filled courses. Survive smoldering volcanoes, hazardous steam engines, haunted houses, and even new courses based on the Super Mario Odyssey™ game! Watch them come to life in stereoscopic 3D using the touch-controlled game camera.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    <div class="card">
    <img src="https://cdn02.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_3ds_25/H2x1_3DS_MetroidSamusReturns_image1600w.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Metroid: Samus Returns</h5>
      <p class="card-text">Metroid: Samus Returns is an action-adventure game developed by MercurySteam and Nintendo EPD and published by Nintendo for the Nintendo 3DS in 2017. A part of the Metroid series, the game is a reimagining of the 1991 Game Boy game Metroid II: Return of Samus.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
    </div>
    <div class="card">
    <img src="https://hb.imgix.net/e7903a82c21e541ec15ddb9fd7508095206b71de.jpg?auto=compress,format&fit=crop&h=353&w=616&s=6ad9c3c822a0382425caf922b273d0db" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Shovel Knight</h5>
      <p class="card-text">Shovel Knight is a 2D side-scrolling platform game developed and published by Yacht Club Games. Following a successful Kickstarter crowdfunding campaign, the game was released for Microsoft Windows, Nintendo 3DS and Wii U in June 2014.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
    </div>
    </div>
  </body>
</html>
