<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- imports bootstrap -->
  <link rel="stylesheet" type="text/css" href="../styles/styles.css"> <!-- imports styles.css stylesheet -->
  <title>PS4</title>
  <link rel="icon" href="http://images.medicaldaily.com/sites/medicaldaily.com/files/styles/headline/public/2015/11/19/video-games.jpg" type="image" sizes="16x16">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- imports bootstrap -->
  <link rel="stylesheet" type="text/css" href="../styles/styles.css"> <!-- imports styles.css stylesheet -->
</head>
<body id="ps4Background">

  <!-- <h3></h3>
  <h3></h3>
  <p></p> -->

  <nav class="navbar navbar-light" style="background-color: #4C5760;">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link"  style= "color: #7497b5" href="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="color: #7497b5;" href="/about">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="color: #7497b5;" href="#">Contact</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" style="background-color: #4b2e63; color: #7497b5;" href="/consoles" role="button" aria-haspopup="true" aria-expanded="false">Console</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" style="color: #7497b5;" href="/consoles">Console Page</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/video_games">Video Game Catalogue</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/xbox_one">Xbox One</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/PS4">PlayStation 4</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/3ds">Nintendo 3Ds</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/flashGamesHomepage">Flash Games</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: #7497b5;" href="/consoles" role="button" aria-haspopup="true" aria-expanded="false">Games</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" style="color: #7497b5;" href="/xbox_one">Xbox One Games:</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/spongebob_squarepants">Spongebob Squarepants</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/doom_eternal">Doom Eternal</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/borderlands3">Borderlands 3</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/star_wars_jedi">Star Wars JEDI Fallen Order</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/beyond_good_and_evil_2">Beyond Good and Evil 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/gears5">Gears 5</a>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="color: #7497b5;" href="/PS4">PlayStation Games:</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/watch_dogs_legion">Watch Dogs LEGION</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/marvel_avengers">Avengers</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/cyberpunk2077">Cyberpunk 2077</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/the_last_of_us_2">The Last of Us Part II</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/medievil">MediEvil</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/predator">Predator</a>
        <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color: #7497b5;" href="/nintendo">Nintendo Games</a>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="color: #7497b5;" href="/flashGamesHomepage">Flash Games:</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/happyWheels">Happy Wheels</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/raftWars">Raft Wars 1</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/raftWars2">Raft Wars 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/run1">Run 1</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/run2">Run 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/run3">Run 3</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/whg">World's Hardest Game</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/whg2">World's Hardest Game 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/whg3">World's Hardest Game 3</a>
          </div>
        </li>
      </ul>
    </nav>

  <h1 class="ps4title">Welcome to the PS4 news page</h1>

<div class="ps4Text">
    <h3>PSN DOWN: PLAYSTATION NETWORK NOT WORKING, AS SERVERS STOP PEOPLE FROM PLAYING GAMES</h3>
    <h3>Date: February 5, 2019</h3>
    <p>The PlayStation Network has been experiencing issues, stopping players from getting online. <br><br>

  Some users who attempt to connect and play see only messages that the console is unable to connect, and the game fails to load friends list or play games. <br><br>

  Others report that the console is working as normal. <br><br>

  PlayStation's official status page claimed "all services are up and running", and said none of its different parts were showing problems. <br><br>

  But the website Down Detector confirmed a range of problems, across the world. Twitter users including prominent esports players also complained about being unable to get online.
  </p>
</div>

<div class="ps4Text1">
    <h3>RED DEAD REDEMPTION 2 REVIEW ROUND-UP: NOT JUST ONE OF THE BEST GAMES EVER, BUT PLENTY MORE BESIDES</h3>
    <h3>Date: October 26, 2018</h3>
    <p>Red Dead Redemption 2 has arrived – and, don't worry, reviewers are agreed that it is precisely as good as you'd expect. <br><br>

  Critics didn't say it was a great game. In fact it has been hailed as one of the best game's of this generation, a masterpiece of both narrative and worldbuilding, and perhaps the best title of its kind ever. <br><br>

  That the game is universally loved is perhaps not surprising, given the critical acclaim of both its predecessor and Rockstar's most recent GTA 5 – as well as the reports of the intense work that was put into it by its team. But the sheer enthusiasm and commitment of critical responses suggest that it has become an instant classic, and a landmark in the history of gaming already. <br><br>

  Here are some opinions from famous article companies: <br><br>

  <strong>The Independent: </strong><br>

  "I could spend hours detailing all the tiny details that make RDR2 sing, from the well-thumbed catalogues in the gun stores that replace the wheels of weapon choices nonsensically hovering in mid-air, to the way Morgan loops a dead snake like a length of rope before stowing it on the saddle of his horse, from which it swings all the way home. But it’s the overall sense of escapism to the game that has most impacted me. <br><br>

  "Maybe I’m atypical/peculiar/incredibly sad for getting immense satisfaction from simply chopping wood back at camp, picking up a cup of joe and reflecting on the past week’s misadventures with other gang members around the campfire. But if you value this kind of minutiae, some really absorbing moments await you. RDR2can still be played as a shooter, and not wishing to obsessively braid your horse or source leather upholstery for your camp’s table won’t hold you back, but the game rewards patience and the appreciation of the little things. <br><br>

  "Fraught and frenetic, video games can often stress you out and leave you wired and edgy. But Red Dead Redemption II has had a calming effect, and been a place to unwind rather than get wound up. It’s a window from our complex and often dysfunctional world into a more pastoral and simple one. Early death from gangrene or shotgun slug shrapnel aside, it really starts to look quite appealing." <br><br>

  <strong>Digital Spy:</strong><br>

  "Red Dead Redemption 2 is great. Don't worry, don't even sweat. It's really great. We'll save you scrolling down. It's a solid five stars. Relax. Now we've got that out of the way, take a ride with Digital Spy, partner, as we recount why exactly RDR2is one of the best games of this generation." <br><br>

  <strong>IGN:</strong><br>

  "Red Dead Redemption 2 stands shoulder-to-shoulder with Grand Theft Auto V as one of the greatest games of the modern age. It’s a gorgeous depiction of an ugly period that’s patient, polished, and a huge amount of fun to play, and it’s combined with Rockstar’s best storytelling to date. Even after finishing the lengthy story I can’t wait to go back and play more. This is a game of rare quality; a meticulously polished open world ode to the outlaw era. Looking for one of this generation’s very best single-player action experiences? Here’s your huckleberry."
  </p>
</div>

<div class="ps4Text2">
    <h3>DANGEROUS PLAYSTATION MESSAGE SHUTS DOWN CONSOLES AND CAN BREAK THEM</h3>
    <h3>Date: October 15, 2018</h3>
    <p>Playstation 4's around the world are crashing and shutting themselves off after receiving just one dangerous message. <br><br>

    The strange attack – which mirrors similar bugs in iPhones and other tech – means that any console that tries to open the message will instead crash itself. After that, it will shut down and might not even be able to turn back on properly, according to reports. <br><br>

    Like those other bugs, it appears that the message contains characters that the PlayStation is unable to read and which force it to break itself when it tries. <br><br>

    Thankfully, there are ways of protecting against the issue. And it's likely that Sony will push out an update to fix it soon. <br><br>

    To guard against the attack, players can switch messages to private. That will only allow friends to get things into your inbox, meaning that the reach of the message will be limited. <br><br>

    That is done by heading to the Settings option on the PlayStation, choosing Account Management and then pressing Privacy Settings. In there, click on Messages and you can choose either to allow friends to message you or to turn messages off entirely. <br><br>

    If that isn't possible, then the messages can be opened in the PS app for iPhone or Android. Reading the message within that app won't crash the device, and it can be deleted safely with no damage to the PlayStation. <br><br>

    The problem message also seems to cause problems for the PlayStation after it has been turned off and back on again by the bug. Thankfully there is a way to sort that out, too. <br><br>

    A PlayStation can be booted into "safe mode" – done by turning off the PlayStation and then, when pressing the button to turn it back on, holding that down until it beeps for a second time, seven seconds later. That tool allows the PlayStation to rebuild its database of everything in the system, and should stop any issues that result from the strange message.
  </p>
</div>

<div class="ps4Text3">
    <h3>SPIDER MAN IS THE BEST GAME TO PLAY ON PS4</h3>
    <h3>Date: Semptember 4, 2018</h3>
    <p>There is simply nothing like Marvel's Spider-Man, apart from maybe being bitten by a radioactive spider and really leaping around New York City. The new PlayStation 4 game is perhaps the most fun you can possibly have on a console, and is a stunning achievement whose technical prowess is matched only by the joy you'll feel when you play it. <br><br>

  It is a recreation of every bit of being the Spider-Man: swinging around, beating people up, delighting in a full cast of many of the character's favourite enemies. All of it is told through a story that doesn't always make a great deal of sense, but is always enjoyable and entertaining. <br><br>

  Most of the game is spent swinging; as you'd expect, there's a lot of spiderweb-powered transport in this game. Luckily enough, it is an incredible joy, of the kind that will awaken memories for those who played the PlayStation 2 version of the game. Right from the beginning, you feel like a competent and experienced Spider-Man – the swinging mechanics make you feel expert from the off, though there's a steep learning curve that allows you to rapidly improve, too.
  </p>
</div>

<div id="centerps4">
  <div class="ps4Text4">
    <h3>FORTNITE ON PLAYSTATION DOESN'T HAVE <br> CROSS-PLATFORM PLAY WITH OTHER CONSOLES <br> BECAUSE THEY ARE WORSE, EXPLAINS SONY BOSS</h3>
    <h3>Date: August 31, 2018</h3>
    <p>Sony won't allow Fortnite players on PlayStation to play against their friends with other consoles – because those people are having inferior experiences. <br><br>

    The company might allow people to take part in cross-platform play on other titles, said the company's boss. But Fortnite on PlayStation will not get that privilege, he said.<br><br>

    And that's because the best experience is to play on PlayStation, he said. So allowing other people to play would be a compromise.<br><br>

    Sony has been embroiled in controversy since earlier this year when the game was released for Nintendo Switch and it said that PlayStation players would not be able to play with them. What's more, players found that once they had logged in on their PlayStation, they could not log in to the same account on other platforms, despite both options being available for Xbox and PC players.<br><br>

    Gamers have continued to protest that the restrictions are unfair. But Sony has been clear that it will not change the policy. <br><br>

    Speaking at the IFA technology show in Berlin, Sony chief executive Kenichiro Yoshida said he felt playing on the PlayStation 4 was the best experience for gamers and therefore should not be compromised. <br><br>

    "On cross-platform, our way of thinking is always that PlayStation is the best place to play. Fortnite, I believe, partnered with PlayStation 4 is the best experience for users, that's our belief," he said, according to Press Association.
    </p>
  </div>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="../scripts/script.js"></script>

</body>
</html>
