<!DOCTYPE html>
<html>
<head>
  <title>Consoles</title>
</head>
<body>
  <h1>Welcome to the consoles page:</h1>
  <h2> Pick a console to read the the info. </h2>
  <a href="http://localhost:8080/PS4"><img src="https://asia.playstation.com/content/dam/pscom/japan-asia/playstation4/top/ps4-top-hero-sp-R-20170302.png"></a>
  <!-- Playstation image -->

  <a href="http://localhost:8080/xbox_one"><img src="https://cdn.mos.cms.futurecdn.net/VDpd6g8cLoFCiHc6gfowTh-768-80.jpg"></a>
  <!-- Xbox one image -->

  <!-- <a href=""><img src="https://cdn.images.express.co.uk/img/dynamic/143/590x/Nintendo-Switch-1154486.jpg?r=1563371251121"></a> -->
  <!-- Nintendo Switch Image -->

</body>
</html>
