<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reviews</title>
  </head>
  <body>
    <div >
          <form method="post" result="template/review_list.html">
          <p>Review for Nintendo Switch Games<p>
          <select name="switch_games" id = "switch_games">
                <option value="Sword and Shield">Sword and Shield</option>
                <option value="Animal Crossing: New Horizon">Animal Crossing: New Horizon</option>
                <option value="The Legend of Zelda : Link's Awakening">The Legend of Zelda : Link's Awakening</option>
                <option value="Luigi's Mansion 3">Luigi's Mansion 3</option>
                <option value="Mario & Sonic at the Olympic Games Tokyo 2020">Mario & Sonic at the Olympic Games Tokyo 2020</option>
                <option value="New Super Lucky's Tale">New Super Lucky's Tale</option>
              </select>
         <br>
        <textarea name="switch_text" id = "switch_text" class="input-block-level" rows="3"></textarea>
        <br>
        <p>Rating ( 1 = bad 5 = Amazing would love a sequel)<p>
<select name="switch_rating" id = "switch_rating">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <br>
        <input type="submit" class="btn btn-large btn-primary" value="Submit">
      </form>


  </div>
  <div>
        <form method="post">
        <p>Review for PS4 Games<p>
        <select name="Ps4_games" id = "Ps4_games">
              <option value="Avengers">Avengers</option>
              <option value="Cyberpunk">Cyberpunk 2077</option>
              <option value="Last">Last of Us 2</option>
              <option value="Evil">MediEvil</option>
              <option value="Predator">Predator</option>
              <option value="Watch">Watchdogs</option>
            </select>
       <br>
      <textarea name="ps4_text" id = "ps4_text" class="input-block-level" rows="3"></textarea>
      <br>
      <p>Rating ( 1 = bad 5 = Amazing would love a sequel)<p>
      <select name="ps4_rating" id = "ps4_rating">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <br>
      <input type="submit" class="btn btn-large btn-primary" value="Submit">
    </form>


</div>
<div>
      <form method="post">
      <p>Review for Xbox Games<p>
      <select name="xbox" id = "xbox_games">
            <option value="Beyond">Beyond Good and Evil 2</option>
            <option value="Animal">Border Lands 3 </option>
            <option value="Doom">Doom</option>
            <option value="Gear">Gear 5</option>
            <option value="Sponge">Spongebob </option>
            <option value="Star">Star wars</option>
          </select>
     <br>
    <textarea name="xbox_text" id = "xbox_text"  class="input-block-level" rows="3"></textarea>
    <br>
    <p>Rating ( 1 = bad 5 = Amazing would love a sequel)<p>
    <select name="xbox_ratings" id = "xbox_rating">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <br>
    <input type="submit" class="btn btn-large btn-primary" value="Submit">
  </form>


</div>
<div>
      <form method="post">
      <p>Review for Flash Games<p>
      <select name="flash_games" id = "flash_games">
            <option value="Happy">Happy Wheels</option>
            <option value="Raft">Raft Wars</option>
            <option value="Raft2">Raft Wars 2</option>
            <option value="Run">Run 1</option>
            <option value="Run2">Run 2</option>
            <option value="Run3">Run 3</option>
            <option value="World">Worlds Hardest Game</option>
           <option value="World2">Worlds Hardest Game 2</option>
           <option value="World3">Worlds Hardest Game 3</option>
          </select>
     <br>
    <textarea name="flash_text" id = "flash_text" class="input-block-level" rows="3"></textarea>
    <br>
    <p>Rating ( 1 = bad 5 = Amazing would love a sequel)<p>
    <select name="flash_rating" id = "flash_rating">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <br>
    <input type="submit" class="btn btn-large btn-primary" value="Submit">
  </form>


</div>

  </body>
</html>
