<!DOCTYPE html>
<html>
<head>
  <title>The Last Of Us 2</title>
  <link rel="icon" href="http://images.medicaldaily.com/sites/medicaldaily.com/files/styles/headline/public/2015/11/19/video-games.jpg" type="image" sizes="16x16">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- imports bootstrap -->
  <link rel="stylesheet" type="text/css" href="../styles/styles.css"> <!-- imports styles.css stylesheet -->
</head>
<body>

  <nav class="navbar navbar-light" style="background-color: #4C5760;">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link"  style= "color: #7497b5" href="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="color: #7497b5;" href="/about">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="color: #7497b5;" href="#">Contact</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: #7497b5;" href="/consoles" role="button" aria-haspopup="true" aria-expanded="false">Console</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" style="color: #7497b5;" href="/consoles">Console Page</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/video_games">Video Game Catalogue</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/xbox_one">Xbox One</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/PS4">PlayStation 4</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/3ds">Nintendo 3Ds</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/flashGamesHomepage">Flash Games</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" style="background-color: #4b2e63; color: #7497b5;" href="/consoles" role="button" aria-haspopup="true" aria-expanded="false">Games</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" style="color: #7497b5;" href="/xbox_one">Xbox One Games:</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/spongebob_squarepants">Spongebob Squarepants</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/doom_eternal">Doom Eternal</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/borderlands3">Borderlands 3</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/star_wars_jedi">Star Wars JEDI Fallen Order</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/beyond_good_and_evil_2">Beyond Good and Evil 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/gears5">Gears 5</a>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="color: #7497b5;" href="/PS4">PlayStation Games:</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/watch_dogs_legion">Watch Dogs LEGION</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/marvel_avengers">Avengers</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/cyberpunk2077">Cyberpunk 2077</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/the_last_of_us_2">The Last of Us Part II</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/medievil">MediEvil</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/predator">Predator</a>
        <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color: #7497b5;" href="/nintendo">Nintendo Games</a>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="color: #7497b5;" href="/flashGamesHomepage">Flash Games:</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/happyWheels">Happy Wheels</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/raftWars">Raft Wars 1</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/raftWars2">Raft Wars 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/run1">Run 1</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/run2">Run 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/run3">Run 3</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/whg">World's Hardest Game</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/whg2">World's Hardest Game 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/whg3">World's Hardest Game 3</a>

        </div>
      </li>
    </ul>
  </nav>

  <h1 id="titleLast">The Last Of Us 2</h1>

<div class="lastofusLeft">
  <h3>The Last of Us 2 release date</h3>
  <p>The Last of Us 2 has been in the works for a while but we're still waiting for a definite release date. Considering Naughty Dog has experienced the bad side of promising a solid release date and missing it before, it’s hard to blame them for not committing before being ready. <br><br>

In an interview with Vorterix, the game's composer, Gustavo Santaolalla, said that the game is going to launch in 2019. Naturally, this hasn't been confirmed so we'd take it with a pinch of salt. <br><br>

Making that 2019 release date seem less likely are the recent rumors suggesting we won't see The Last of Us 2 on shelves until early 2020, especially after another big PlayStation exclusive, Death Stranding, just had a November 2019 release date confirmed. It would be incredible to have two releases from PlayStation that are this big during the holiday season but it's unlikely.  <br><br>

Adding fuel to the 2020 fire is a recent Variety interview with Ellie actress Ashely Johnson. When asked when the game is going to be released, Johnson appears to begin to say "February", which would tie up with the rumored release date after Death Stranding took the end of 2019 release slot. <br><br>

Of course, Johnson didn't actually get to finish what she was saying and a lot can change between now and February 2020. We won't know for certain until Naughty Dog makes it official. You can watch the interview with Johnson below (with that release moment being around the one hour and seven minutes mark).
</p>
</div>

<div class="lastofusRight">
  <h3>Into the final stages</h3>
  <p>News around The Last of Us 2 has been hotting up recently as the game inches closer towards completion. Naughty Dog has now confirmed that the final scene for the game has been shot and the game’s co-director, Anthony Newman, has tweeted out a recruitment call as the studio begins to “close out” the game’s development. <br><br>

  As promising as these announcements are, they don't reveal anything about whether or not we can expect to see The Last of Us 2 this year or next. Regardless, development has reached a critical stage and though Sony won’t be attending E3 2019, that doesn’t mean it can’t make some announcements around the time of the show. In fact, recent rumors have suggested that we will see some kind of news around this time. Hopefully we’ll see a confirmed release date in the coming months.
</p>
</div>

<img id="LOUimage" src="https://fsmedia.imgix.net/5c/34/95/ff/21e9/498b/97b3/76fe9b27ba1f/the-last-of-us-part-ii.jpeg">

<div class="lastofusLeft">
<h3>Rumors of a delay</h3>
<p>There was much excitement on May 29 as a result of PlayStation exclusive Death Stranding finally getting its release date confirmed as November 8 2019. This has, however, had a ripple effect which is concerning fans of The Last of Us 2. <br><br>

With Death Stranding now slotted in as PlayStation's big exclusive release for the holiday season of 2019, it's been rumored (by Kotaku's Jason Schreier among others) that The Last of Us 2, also originally said to be looking at a late 2019 release, will now be pushed into early 2020. <br><br>

This has not been confirmed by Naughty Dog or PlayStation so it remains nothing more than rumor at the moment. It's also worth pointing out that The Last of Us 2 has never had a set-in-stone release date anyway. <br><br>

However, an early 2020 release date for The Last of Us 2 does not seem impossible at this point as PlayStation having two such huge releases close together at the end of 2019 would be a surprise indeed. <br><br>

A recent interview with Ellie actress, Ashley Johnson, has also added to those early 2020 rumors as, when asked by the interviewer when the game will release, she appears to begin to say February. However, nothing has been confirmed by Naughty Dog just yet so everything stands as rumor only at the the moment.
</p>
</div>

<div class="lastofusRight">
  <h3>Story</h3>
  <p>Although it was no slouch in the gameplay department, it was the story told by The Last of Us that stuck with us for months afterwards. Naturally Naughty Dog had to give us some kind of hint about where the sequel would go. <br><br>

At the moment we know The Last of Us 2 will take place in the city of Seattle, five years after the end of the original game, with a 19 year old Ellie taking the starring playable role. Joel will still appear in the game but if the teaser trailer is anything to go by, he could be a much more passive presence. <br><br>

This time around, Ellie is extremely angry about...something. From what we saw from the teaser trailer she wants revenge, which to her appears to be a dish best served deadly. <br><br>

She does, after all, promise to “kill every last one of them.” It’s not clear who “them” is but it could signal that the Fireflies, the first game's well-meaning but morally grey antagonists, will make a return. Anger, hate and revenge are going to be key themes this time around so expect to be in for an emotionally heavy ride. <br><br>

In the trailer for the game shown at Paris Games Week in 2017, we got a look at how dark the game is likely to be. The trailer focuses on the opposing relationships between human characters in the game and features some seriously cringe-inducing violence. <br><br>

It doesn't tell us much about any new characters of how they'll relate to one another but it does confirm that we're going into a dark game world in The Last of Us part 2. <br><br>

In a recent panel at PSX both Druckmann and Gross said that though the game's story will indeed be dark and there'll be a focus on the theme of hate, "there is hope" and there will be "lighthearted moments." <br><br>

We can't pretend we're not relieved to hear this after the game's controversial Paris Games Week trailer which, Druckmann said, was intended to highlight the game's exploration of the pursuit of justice. <br><br>

Ellie is one of the most real and refreshing characters we’ve seen in gaming so it’s exciting that Naughty Dog are going to take her story further and put her in center stage. <br><br>

The creative director of the game, Neil Druckmann has said that the story will be about Ellie and Joel’s relationship and that though the story would be complementary to the story of the first game, it would be much larger. <br><br>

When asked at a PSX panel whether or not Joel or Ellie may die, Druckmann responded that "no one is safe" highlighting that the game's story really could go anywhere. <br><br>

Hopes are particularly high for this larger story as it’s been revealed that one of the writers of Westworld, Halley Gross, will be co-writing the game’s story. Having someone who’s written scripts for such an incredibly popular and successful show should be a boon for the game's story.
</p>
</div>

<div id="centerps4">
<div class="LastTextCenter">
  <h3>Gameplay</h3>
  <p>E3 2018 brought us our first proper look at the gameplay in The Last of Us Part 2. Given Ellie is now the leading playable character, it was expected that things would be a little different from the first game and the presentation at the show made this fairly clear. <br><br>

Ellie will have some moves similar to Joel but there are some things she'll be able to do that are completely different. For one thing she can jump - the new jump button should make the world of The Last of Us Part 2 more complex and more enjoyable to traverse. It also has the potential to make combat more interesting. Speaking of combat, Ellie doesn't really throw punches as her first form of attack, she has a stealthy knife. Melee combat generally appears to offer a little more than the original game, with evasions and an environment that can help as well as hinder your fighting. <br><br>

Not only has Ellie matured as a character, the enemies she faces have developed and they're more realistic than ever. The Infected in The Last of Us Part 2 are smarter and more reactive than their predecessors, making them a tougher foe to face. AI has improved, allowing enemies to communicate with one another and to look for Ellie when she's hiding. Expect some tense moments to arise from this.
</p>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../scripts/script.js"></script>

</body>
</html>
