<!DOCTYPE html>
<html>
<head>
  <title>WatchDogs Legion</title>
  <link rel="icon" href="http://images.medicaldaily.com/sites/medicaldaily.com/files/styles/headline/public/2015/11/19/video-games.jpg" type="image" sizes="16x16">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- imports bootstrap -->
  <link rel="stylesheet" type="text/css" href="../styles/styles.css"> <!-- imports styles.css stylesheet -->
</head>
<body>

  <nav class="navbar navbar-light" style="background-color: #4C5760;">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link"  style= "color: #7497b5" href="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="color: #7497b5;" href="/about">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="color: #7497b5;" href="#">Contact</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: #7497b5;" href="/consoles" role="button" aria-haspopup="true" aria-expanded="false">Console</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" style="color: #7497b5;" href="/consoles">Console Page</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/xbox_one">Xbox One</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/PS4">PlayStation 4</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/3ds">Nintendo 3Ds</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/flashGamesHomepage">Flash Games</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" style="background-color: #4b2e63; color: #7497b5;" href="/consoles" role="button" aria-haspopup="true" aria-expanded="false">Games</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" style="color: #7497b5;" href="/xbox_one">Xbox One Games:</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/spongebob_squarepants">Spongebob Squarepants</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/doom_eternal">Doom Eternal</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/borderlands3">Borderlands 3</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/star_wars_jedi">Star Wars JEDI Fallen Order</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/beyond_good_and_evil_2">Beyond Good and Evil 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/gears5">Gears 5</a>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="color: #7497b5;" href="/PS4">PlayStation Games:</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/watch_dogs_legion">Watch Dogs LEGION</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/marvel_avengers">Avengers</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/cyberpunk2077">Cyberpunk 2077</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/the_last_of_us_2">The Last of Us Part II</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/medievil">MediEvil</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/predator">Predator</a>
        <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color: #7497b5;" href="/nintendo">Nintendo Games</a>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="color: #7497b5;" href="/flashGamesHomepage">Flash Games:</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/happyWheels">Happy Wheels</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/raftWars">Raft Wars 1</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/raftWars2">Raft Wars 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/run1">Run 1</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/run2">Run 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/run3">Run 3</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/whg">World's Hardest Game</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/whg2">World's Hardest Game 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/whg3">World's Hardest Game 3</a>

        </div>
      </li>
    </ul>
  </nav>

  <h1>Welcome to the WatchDogs Legion Page</h1>
  <h2>Read the latest info on WatchDogs Legion</h2>

  <p>French video game publisher Ubisoft has unveiled the latest edition to its popular Watch Dogs series, revealing a post-Brexit dystopian vision of London that goes way beyond even the worst nightmares of Project Fear. <br><br>

Set in the English capital in the near-future, Watch Dogs: Legion depicts what British society might look like given the culmination of huge political upheaval and highly-advanced technologies like artificial intelligence. <br><br>

Unveiled at the E3 video game conference in Los Angeles, Watch Dogs: Legion requires players to navigate the futuristic city streets and recruit members to a resistance movement in order to topple an organisation called Albion. <br><br>

“In the near future, London is facing its downfall,” the game’s trailer explains. <br><br>

“The people are being oppressed by corrupt opportunists and it’s up to you to build a resistance to give the city back to the people. With an entire population of potential recruits and the city’s technology at your fingertips, you’ll need to hack, infiltrate, and fight your way to a liberated London.” <br><br>

The game lets players explore London on a huge scale, including famous landmarks like Trafalgar Square, Big Ben, Tower Bridge and the London Eye. <br><br>

Anyone familiar with London will recognise a relatively accurate imagining of the city – aside from the numerous drones buzzing around the skies and the futuristic forms of transport. <br><br>

Titles from Ubisoft frequently appear to make political references, despite CEO Yves Guillemot previously claiming that the games are designed to “make people think” rather than make a statement. <br><br>

Ubisoft COO Alf Condelius has also said that being overtly political is “bad for business”. Yet Watch Dogs: Legion seems to make no secret of addressing the issues that helped contribute to Brexit and the chaos that could result from the UK leaving the European Union. <br><br>

“All the elements in the world that you see are based off lots of real-world problems that eventually contribute towards Brexit. So autonomy and loss of jobs because of it, global warming, all the other events that you see worldwide happening today,” John Cross, the lead producer of Watch Dogs: Legion, told Gamesradar. <br><br>

“I feel that all of those events that contribute towards Brexit also contribute towards the world stated of Watch Dogs: Legion. But, it’s not just that, it’s about everything that’s happening in the world today and all of it has culminated to this one situation, a possible future, of Watch Dogs: Legion.” <br><br>

The release date of Watch Dogs: Legion is set for 6 March 2020.
</p>

<h3>Play your way!</h3>
<p>A brand-new melee system and a wide range of weapons and abilities means that the way you approach combat has real consequences. If you use non-lethal force, the enemy will attempt to subdue and arrest you. If you shoot to kill, you risk having your characters permanently killed.</p>

<h3>Get The Gang Together</h3>
<p>Giving London back to the people doesn't have to be some heroic solo jaunt, ya know. Bring the fight online to join forces with up to three friends as you take on entirely new co-op missions and challenging end-game content.</p>

<h3>Play As Anyone</h3>
<p>Anyone you see on the street can become a resistance fighter by your side. Each person you encounter — whether a brawler, a fashionista, or even a DJ — has their own story with their own set of skills and perks. Choose wisely. <br><br>

Everything is up to you — who joins your resistance, what missions you take on, where you pick fights; all of it — as long as it gets London back in the hands of the people. Make critical decisions and ultimately hack, infiltrate, and detonate your way to a liberated London. <br><br>

Personalize each member of your resistance and level them up by building out different skill sets, from hacking to stealth moves to all-out assault training. Customize further with unique outfits and iconic masks. Take back the city and look sharp doing it.
</p>

<h3>Play Your Way</h3>
<p>Hack your way to victory by weaponizing London’s tech infrastructure. Hijack armed combat drones, deploy stealthy spider-bots, or use your techie know-how to rig the system with explosions. It’s up to you how to use the tech dystopia against itself. <br><br>

Your plan of attack is up to you. Crash the party with a brand-new melee system and a wide range of weapons and abilities. Go non-lethal if you’d like, or kick open the doors and blast away. Just remember, your assault style brings different consequences. <br><br>

As fun as it is to crash through a skylight, there’s not always a need to be noticed. Use the resistance's most secretive hack — an “invisibility” cloak. Thanks to the advances of augmented reality, you can sneak around without detection and covertly take down your enemies.
</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../scripts/script.js"></script>

</body>
</html>
