<!DOCTYPE html>
<html>
<head>
  <title>Predator Hunting Grounds</title>
  <link rel="icon" href="http://images.medicaldaily.com/sites/medicaldaily.com/files/styles/headline/public/2015/11/19/video-games.jpg" type="image" sizes="16x16">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- imports bootstrap -->
  <link rel="stylesheet" type="text/css" href="../styles/styles.css"> <!-- imports styles.css stylesheet -->
</head>
<body id="homeBackground">

  <div class="pos-f-t">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Navbar content -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/PS4_games"><span class="sr-only">(current)</span>Back to Selection</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Contact</a>
      </li>
      </ul>
    </nav>
  </div>

  <h1 id="WDtitle">Predator Hunting Grounds</h1>

<div class="predator">
<p>Sony hit us with its second “State of Play” broadcast earlier this week, one of its first big announcements being Predator: Hunting Grounds. <br><br>

Developed by Illfonic, in partnership with Sony Interactive and Fox Entertainment (technically Disney), this promising multiplayer title based on the film franchise will be PlayStation exclusive, and is set to launch 2020. <br><br>

No specific release date was given though it’s safe to assume that Illfonic is targeting the PlayStation 4 instead of exclusively focusing on Sony’s illusive PS5. <br><br>

Thankfully the Denver-based developer gave us a little more than just a reveal trailer for Hunting Ground, outlining some key features and gameplay details. <br><br>

The State of Play announcement video shows a four squad of modern day (or potentially futuristic) soldiers patrolling through a jungle area. <br><br>

We’re treated to that familiar Predator rattle as the camera ascends to show us his camouflaged outline among the trees above. <br><br>

According to Illfonic the game is still in early development though the studio was able to give an overview. Those who have played most recent games should have a pretty solid idea of what to expect. <br><br>

At its core, Predator: Hunting Ground is an asymmetrical multiplayer experience. In a nutshell, this means two or more teams thrown into the same online match, but they have different objectives. This isn’t just a straight-up team deathmatch. <br><br>

One side will be playing as the Fireteam, a squad of elite operatives armed to the teeth and sent to take down a group of insurgents. <br><br>

Amidst the chaos, another player will don the Predator’s mantle, stealthily weaving their way through the map, looking to isolate and kill his enemies using the alien assassin’s arsenal of gadgets. <br><br>

It will be interesting to see just how each match flows. Illfonic didn’t confirm how many members are in a fireteam and whether the enemies they’re fighting are AI grunts or other human players. <br><br>

Whether the Predator can actually be killed or not is also another mystery. In order to win, do soldiers need to take down the space-faring hunter or simply complete their own shopping list of tasks? <br><br>

Either way, it’s great to see this horror icon revived for another video game outing, especially with Illfonic at the helm. <br><br>

n 2017, the team launch Friday the 13th: The Video Game which was also an asymmetrical online title, pitting eight camp counsellors against slasher film legend, Jason Voorhees. <br><br>

While that game certainly had its issues, it remains popular thanks to its original gameplay design. <br><br>

Over time, Illfonic rolled out numerous updates with new content such as characters, modes, and even a singleplayer component. <br><br>

Due to a lawsuit filed by the screenwriter of the original Friday the 13th film, this roadmap was sadly cut short. A metaphorical machete blow to the neck. <br><br>

Sure, we’re excited for Predator: Hunting Ground, but we remain extremely cautious at the same time. <br><br>

Illfonic’s most recent game, Dead Alliance, is somewhat similar: a competitive online shooter that throws a zombie horde into the mix. <br><br>

However, this game was an absolute stinker. A boring broken mess that the developer has hopefully learned from, especially now that it’s handling such a beloved film franchise.
</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../scripts/script.js"></script>


</body>
</html>
