<!DOCTYPE html>
<html>
<head>
  <title>Cyberpunk 2077</title>
  <link rel="icon" href="http://images.medicaldaily.com/sites/medicaldaily.com/files/styles/headline/public/2015/11/19/video-games.jpg" type="image" sizes="16x16">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- imports bootstrap -->
  <link rel="stylesheet" type="text/css" href="../styles/styles.css"> <!-- imports styles.css stylesheet -->
</head>
<body id="homeBackground">

  <nav class="navbar navbar-light" style="background-color: #4C5760;">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link"  style= "color: #7497b5" href="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="color: #7497b5;" href="/about">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="color: #7497b5;" href="#">Contact</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: #7497b5;" href="/consoles" role="button" aria-haspopup="true" aria-expanded="false">Console</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" style="color: #7497b5;" href="/consoles">Console Page</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/video_games">Video Game Catalogue</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/xbox_one">Xbox One</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/PS4">PlayStation 4</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/3ds">Nintendo 3Ds</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/flashGamesHomepage">Flash Games</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" style="background-color: #4b2e63; color: #7497b5;" href="/consoles" role="button" aria-haspopup="true" aria-expanded="false">Games</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" style="color: #7497b5;" href="/xbox_one">Xbox One Games:</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/spongebob_squarepants">Spongebob Squarepants</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/doom_eternal">Doom Eternal</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/borderlands3">Borderlands 3</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/star_wars_jedi">Star Wars JEDI Fallen Order</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/beyond_good_and_evil_2">Beyond Good and Evil 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/gears5">Gears 5</a>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="color: #7497b5;" href="/PS4">PlayStation Games:</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/watch_dogs_legion">Watch Dogs LEGION</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/marvel_avengers">Avengers</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/cyberpunk2077">Cyberpunk 2077</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/the_last_of_us_2">The Last of Us Part II</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/medievil">MediEvil</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/predator">Predator</a>
        <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color: #7497b5;" href="/nintendo">Nintendo Games</a>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="color: #7497b5;" href="/flashGamesHomepage">Flash Games:</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/happyWheels">Happy Wheels</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/raftWars">Raft Wars 1</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/raftWars2">Raft Wars 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/run1">Run 1</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/run2">Run 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/run3">Run 3</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/whg">World's Hardest Game</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/whg2">World's Hardest Game 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/whg3">World's Hardest Game 3</a>

        </div>
      </li>
    </ul>
  </nav>

  <h1 id="cyberTitle">Cyberpunk 2077</h1>

  <img src="https://media.boingboing.net/wp-content/uploads/2018/09/game.jpg">

<div class="cyberpunkLeft1">
<h3>When is Cyberpunk 2077's release date?</h3>
<p>April 16, 2020 is the date delivered to us by Keanu Reeves in the flesh at E3 2019. <br><br>

While our hopes for a 2019 release have been dashed, we now finally know we have less than a year to wait before playing CD Projekt RED's new game. <br><br>

Preorders for Cyberpunk 2077 have already started. We've also got all the details on what's included in the Cyberpunk 2077 Collector's Edition.
</p>

<h3>Is Cyberpunk 2077 an FPS?</h3>
<p>Dare we say that Cyberpunk 2077 is a first-person shooter RPG? We dare. Though cutscenes and driving sometimes switch to third-person, Cyberpunk 2077 involves a lot of first-person shooting. With guns. Lots of guns. It's chaotic and fast-paced, but was less aggressive than, say, Doom. During a firefight in the opening moments of the demo, V, the main character, ducked and peeked around cover to spray a gang of organ scavengers with bullets from her automatic pistol. Like Destiny 2, numbers indicating damage dealt exploded with each landed shot—but enemies didn't feel like bullet sponges. We also love how agile V can be. <br><br>

Though there's quite a bit of variety in what abilities V has, in the 2018 demo she was an agile cyberninja. She could run and slide to cover and also trigger a slow motion bullet-time mode. She also had a quick dash that let her burst in a specific direction. When bullet-time and this dash were combined, she could quickly flank enemies and deliver fatal killshots. <br><br>

We also saw a ton of cool weapons, and yes, there are weapons other than guns, though again, there are a lot of guns. A street-modified Tech Shotgun could penetrate cover and enemies, which was a deadly combo when paired with V's upgraded optic implant that could show her enemies through objects. A Smart Rifle takes all the skill out of shooting by firing bullets that track enemies. You merely aim in their general direction and it'll lock onto multiple targets and fire bullets that automatically track their intended targets. <br><br>

So while of course this is still a CD Projekt open-world RPG, with all the expected trappings like exploration, dialogue, skills, and so on, it's also a shooter, in first person.
</p>

</div>

<div class="cyberpunkRight1">
<h3>Cyberpunk 2077's "hardcore mode" will turn off the UI</h3>
<p>Like The Witcher 3, Cyberpunk 2077 will have difficulty modes aimed at players of all experience levels. "The most fun one I think will be the Hardcore setting where we turn off the UI ... And that will be a real challenge for a lot of players," Cyberpunk 2077 UI coordinator Alvin Liu told WCCFtech. It sounds like Liu is talking about the HUD and any on-screen button prompts, as we doubt that even a hardcore mode would turn off ALL the game's user interface down to its menus. <br><br>

On the flip side, there will also be easier settings for players who are excited about the story of Cyberpunk 2077 but may be less experienced playing shooters. "We even have weapons for that," Liu says. "If you recall from last year’s demo, we had a weapon called the smart gun, which helps you aim. The bullets were much slower and usually a bit weaker. But if your aiming isn’t your forte, you can always pick up the smart gun."
</p>

<h3>Cyberpunk 2077 character creation</h3>
<p>During the 2018 demo we got a quick peak of the character creation screen, which starts with choosing your sex. From there, you can customize hair, tattoos, and clothing. It doesn't look like you can change your character's bone structure, though—no deep menu of facial feature sliders here. <br><br>

At E3 2019, quest director Mateusz Tomaszkiewicz explained to Gamasutra that Cyberpunk's character creation won't be limited by gender. "We have put a lot of thought into this. One of the things we want to do in the final game (which we couldn't show in the demo yet, because as you mentioned it's a work in progress) is to give the players as many options of customization in the beginning of the game as we can." <br><br>

CDPR is also working on customizable voices for V. Tomaszkiewicz did specificy that these are all things the team "wants to do," not already has done, so there's no surefire promises that this will carry into the final game. <br><br>

You can also change your stats. There are basics like Strength and Intelligence, but also a 'Cool' stat that perhaps maps to charisma or one's ability to handle stress. The full list from what we saw in the demo: Strength, Constitution, Intelligence, Reflexes, Tech, Cool. Notably, there are some important stats from the tabletop Cyberpunk not represented here, like Empathy. More on why that's significant below. <br><br>

We're sure Cool will have some other cute functions aside from charisma, as we speculate here. You can also change your backstory, referred to as a Lifepath, choosing from Nomad, Corpo or Street Kid, which each have their own origin story and starting location in the world. You know, the standard RPG stuff these days. <br><br>

However you customize your character, you're still one specific person: V. Not 'Vee.' Just V. You're a mercenary, and that's most of what we know so far.
</p>
</div>
<img src="https://cdn.vox-cdn.com/thumbor/zHsTB6iAk952TA8t8NNqHJv0JTM=/0x0:3840x2160/1200x800/filters:focal(1737x1070:2351x1684)/cdn.vox-cdn.com/uploads/chorus_image/image/61039985/cyberpunk_2077_screenshot_04_3840.0.jpg" width=700 height=400>

<h3 class="cyberText">You can finish Cyberpunk 2077 without killing anyone</h3>
<p class="cyberText">Cyberpunk 2077 will let you play the game without ever killing anyone, a great feature for folk who want to roleplay a less bloodthirsty V. But the game wasn't always planned this way. After feedback from E3 2018, CDPR took time to add non-lethal options to almost all of its weapons and cyberware upgrades. <br><br>

We say "almost," because there are some reasonable exceptions. There's no non-lethal setting for the bazooka, for example. "Pretty much every gun, pretty much every cyberware, you're able to use in a nonlethal way. You're able to knock them down, choke them, make them sleep and so on. There are ways not to kill them and spare them, like the way you could do with Sasquatch, the boss," lead quest designer Paweł Sasko told PC Gamer.
</p>

<div class="cyberpunkLeft">
<h3>Will there be romance?</h3>
<p>As much "romance" as you can find in a cyberpunk future, yes. Like in The Witcher 3, you'll be able to pursue romance as V. Because Cyberpunk includes character creation, these romance options will be more diverse than they were in The Witcher series. <br><br>

"There are a lot more options. You know, you're defining your own character here, which means defining their sexuality any way you want," quest designer Patrick Mills said in an interview with Game Informer. "With Geralt, you had a character whose sexuality was very well defined by the novels and the short stories and the previous games. But in this one, it's up to you to decide. We've got NPCs that are gay, we've got NPCs that are bi, we've got NPCs that are straight, because we want them to feel real and that they have preferences as well." <br><br>

In June, CDPR said that romantic plot lines will be "similar" in scope and detail to Geralt's relationships, despite there being more of them. CD Projekt Red clarified to us further: "Romancing is something heavily present in Cyberpunk, and players will be able to form meaningful connections with other characters as well as go for one night stands." <br><br>

That's all fine and good, but after E3 2019, we have a new pressing question: Can. You. Smooch. Keanu. Considering he's a digital ghost, prospects aren't great, but we're holding out hope.
</p>
</div>

<div class="cyberpunkRight">
<h3>What kind of abilities can you unlock?</h3>
<p>Cyberware refers to augments that have all sorts of uses. During the demo, we visited a Ripperdoc who could upgrade and replace our cyberware. We opted for a Kiroshi Optical Implant that let us zoom in on objects and also analyze the environment, seeing enemy levels and getting detailed information about them. We also picked up a Subdermal Grip for our gun hand, which increases the damage we do when firing guns. <br><br>

The implants are wildly cool, but it’s strange that they don’t seem to have downsides in a game world which—at least in its tabletop incarnation—stressed the dangerous sides of cyberware with mental illnesses like cyberpsychosis. It’s a facet of the universe that we know the developers are aware of—the 2013 reveal trailer featured a woman getting arrested by C-SWAT for going off the deep end. On the tabletop, a character’s Empathy and Humanity stats dictated how much cyberware it was safe for them to use, but Empathy seems absent from Cyberpunk 2077. <br><br>

Later on we got access to some wild toys. One piece of cyberware let V ricochet bullets around corners to kill enemies behind cover. This was accompanied by a UI element that showed you the intended path of the bullet, so you could line up shots perfectly. We also got to see V's mantis-like sword arms, which she could use to eviscerate enemies. Other upgrades let V wallrun, use bullet time, double jump, and dash forward in short bursts. There's even robots you can control remotely, like a spiderbot that can climb walls and ceilings. We didn't get to see it in action, but once we acquired the thing it followed us through levels automatically defending itself during combat. <br><br>

At one point, V snuck up on an enemy and put them in a chokehold. From there, she could hack into that person's cyberware and access data about that person, some of which is just for lore. If enemies are connected together by a network, though, a bunch of new options open up. In this instance, V hacked one enemy's gun to make it stop working without him realizing. She killed the person she had put in a chokehold and then attacked the two remaining bad guys. As she finished off one, the other tried shooting only to realize his gun was jammed. His confusion created an opening for V to get in close and finish him off. <br><br>

We were told that some Ripperdocs will also let us suit up with illegal military-grade tech. We can only imagine how cool that stuff will be.
</p>
</div>

<div class="cyberpunkLeft">
<h3>Cyberpunk 2077 won't have a morality system, that's up to you</h3>
<p>Speaking to GamingBolt, quest director Mateusz Tomaszkiewicz said that Cyberpunk 2077 does not have morality mechanics. V will be treated differently in the world depending on their reputation, but a hard morality system won't be part of that. <br><br>

"To complete it non-lethally you have to be very good at stealth," Tomaszkiewicz said. "Invest in points that allow you to stealth better, use weapons that will allow you to incapacitate the enemy instead of killing them, to make the moral choices that will allow you to avoid killing people throughout the game." This sounds similar to how The Witcher 3 left moral choices in the player's hands without making it a hard statistic.
</p>
</div>

<div class="cyberpunkRight">
<h3>Will there be multiplayer?</h3>
<p>It seems likely. CD Projekt Red has partnered with a multiplayer-focused studio to provide technology for Cyberpunk 2077. That technology isn't necessarily for a multiplayer mode, but that seems like the most obvious avenue. <br><br>

At E3 2018, we learned that Cyberpunk 2077 won't launch with multiplayer, but might get some form of it after release. We first heard about multiplayer features back in 2013, but CD Projekt RED clearly knew the word could agitate its fans. "It will be a story-based RPG experience with amazing single-player playthroughs," reassured managing director Adam Badowski in a 2013 talk with Eurogamer, "but we're going to add multiplayer features." <br><br>

In 2017, CD Projekt CEO Adam Kiciński said that multiplayer features would ensure Cyberpunk's "long-term success," which caused some concerns given the recent kerfuffle over microtransactions. <br><br>

CD Projekt responded to the concerns with a tweet meant to reassure fans that they'll still be getting a Witcher 3-style singleplayer story. "Worry not," it said. "When thinking CP2077, think nothing less than TW3—huge single player, open world, story-driven RPG. No hidden catch, you get what you pay for—no bullshit, just honest gaming like with Wild Hunt. We leave greed to others."
</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../scripts/script.js"></script>

</body>
</html>
