<!DOCTYPE html>
<html>
<head>
  <title>MediEvil</title>
</head>
<body>
  <h1>Welcome to the MediEvil Page</h1>
  <h2>Read the latest info on MediEvil</h2>

  <h3>MediEvil is returning to PS4</h3>
  <p>PlayStation 1 classic MediEvil is coming to the PlayStation 4. 20 long years after release, Sony's undead adventure platformer is being resurrected for the PS4 in 2019. <br><br>

Fans of the original have been clamouring for a remake for a long time (although there was a remake 13 years ago that people forget about). The last main MediEvil game came out 18 years ago, MediEvil II, which is a shame because its quirky gothic charm was a treat to play. <br><br>

But now Sony has released an announcement trailer for the game, showing off gameplay as well as its improved graphics. <br><br>

The vague "2019" release date amends previous beliefs that the game would be out some time 2018, although we're so close to the end of the year that there was no chance of a 2018 release anyway. This change of date is likely because the game was originally to be a simple remaster, but is now a full-scale remake. <br><br>

Announced at the 2017 PlayStation Experience in California, Sony didn’t provide an awful lot of information about what we can expect beyond a short teaser trailer. That hasn’t stopped the internet going into a frenzy over the return of Sir Daniel Fortesque. <br><br>

As you can expect, we’ll keep you up to date on what we know about MediEvil as it breaks, but here’s a quick roundup of what’s out there right now.
</p>

<h3>When is it coming put?</h3>
<p>It’s unclear when MediEvil will come to PS4, but it’s currently set for a 2019 release. I’d be very surprised if it arrived during the incredibly busy christmas season, but the original MediEvil arrived in October of 1998 – so October 2019 would be a fitting anniversary release date, and just in time for Halloween.</p>

<h3>Is this a remaster, remake or brand-new adventure?</h3>
<p>MediEvil on PS4 is a curious release because it was originally unclear if this is going to be a remake or remaster of the original MediEvil, an amalgamation of the two MediEvil games, or a brand-new entry. However recent information shows that the game is infact a complete remake of the original.
</p>

<h3>What’s it all about?</h3>
<p>If this follows the exact same tale as the PlayStation original, you can expect it to be a silly and slapstick as the original was. You’ll likely take up the mantle of cowardly resurrected knight Sir Daniel Fortesque as he attempts to live up to the invented legend around his death by taking down the evil sorcerer Zarok. <br><br>

Basically, it’s a very 90s-style PlayStation action-adventure platformer, and it’s likely to stay that way even under the sheen of PS4 visuals.
</p>

</body>
</html>
