<!DOCTYPE html>
<html>
<head>
  <title>Marvel Avengers</title>
  <link rel="icon" href="http://images.medicaldaily.com/sites/medicaldaily.com/files/styles/headline/public/2015/11/19/video-games.jpg" type="image" sizes="16x16">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- imports bootstrap -->
  <link rel="stylesheet" type="text/css" href="../styles/styles.css"> <!-- imports styles.css stylesheet -->
</head>
<body>

  <nav class="navbar navbar-light" style="background-color: #4C5760;">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link"  style= "color: #7497b5" href="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="color: #7497b5;" href="/about">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="color: #7497b5;" href="#">Contact</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: #7497b5;" href="/consoles" role="button" aria-haspopup="true" aria-expanded="false">Console</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" style="color: #7497b5;" href="/consoles">Console Page</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/video_games">Video Game Catalogue</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/xbox_one">Xbox One</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/PS4">PlayStation 4</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/3ds">Nintendo 3Ds</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/flashGamesHomepage">Flash Games</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" style="background-color: #4b2e63; color: #7497b5;" href="/consoles" role="button" aria-haspopup="true" aria-expanded="false">Games</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" style="color: #7497b5;" href="/xbox_one">Xbox One Games:</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/spongebob_squarepants">Spongebob Squarepants</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/doom_eternal">Doom Eternal</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/borderlands3">Borderlands 3</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/star_wars_jedi">Star Wars JEDI Fallen Order</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/beyond_good_and_evil_2">Beyond Good and Evil 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/gears5">Gears 5</a>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="color: #7497b5;" href="/PS4">PlayStation Games:</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/watch_dogs_legion">Watch Dogs LEGION</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/marvel_avengers">Avengers</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/cyberpunk2077">Cyberpunk 2077</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/the_last_of_us_2">The Last of Us Part II</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/medievil">MediEvil</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/predator">Predator</a>
        <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color: #7497b5;" href="/nintendo">Nintendo Games</a>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="color: #7497b5;" href="/flashGamesHomepage">Flash Games:</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/happyWheels">Happy Wheels</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/raftWars">Raft Wars 1</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/raftWars2">Raft Wars 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/run1">Run 1</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/run2">Run 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/run3">Run 3</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/whg">World's Hardest Game</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/whg2">World's Hardest Game 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/whg3">World's Hardest Game 3</a>

        </div>
      </li>
    </ul>
  </nav>

  <h1>Welcome to the Marvel Avengers Page</h1>
  <h2>Read the latest info on Marvel Avengers</h2>

<h3>When is Marvel's Avengers Coming out?</h3>
<p>At E3 2019, Square Enix announced that Marvel's Avengers will release on May 15, 2020 for PC, PS4, Xbox One, and Google Stadia.</p>

<h3>Marvel's Avengers will have singleplayer and four-player co-op</h3>
<p>From what we gather from Square's press release, Marvel's Avengers will have separate missions designed for single player and co-op. There will also be an extensive multiplayer component. "Master extraordinary abilities, customize a growing roster of Heroes, assemble into teams of up to four players, and defend the Earth from escalating threats," the press release reads. <br><br>

"Featuring regular content updates, the game will take players on an epic journey delivered over multiple years. This is what’s next for the Avengers." This makes us think it's probably going to be a Destiny-ish game with a lot of repeat play, but we'll know more about this leading up to release. </p>

<h3>Who are the Developers of Marvel's Avengers game?</h3>
<p>Crystal Dynamics, creators of Tomb Raider, with Eidos Montreal (creators of the last two Deus Ex games), Crystal Northwest, and Nexxes Software. Considering the game has big plans for post-launch content and multiplayer, it makes sense that so many hands are on deck to make Avengers work.</p>

<h3>Marvel's Avengers has an all-new, original story disconnected from the MCU</h3>
<p>We've known for years that Marvel's The Avengers would have a unique story disconnected from the Marvel Cinematic Universe, but now we know what that story will look like. <br><br>

Marvel's Avengers begins during A-Day, a celebratory day for the Avengers coinciding with the unveiling of their new headquarters and helicarrier. After a tragedy resulting in death and destruction, the Avengers are blamed for the incident. "Five years later, with all Super Heroes outlawed and the world in peril, the only hope is to reassemble Earth’s Mightiest Heroes." <br><br>

In the reveal trailer, we also see that Captain America perished in the blast that wiped out a chunk of New York. Crystal Dynamics made a point to say that you would be playing as Cap in the game, so unless they're only talking about the opening mission, we doubt he'll stay gone for long. <br><br>

Despite Marvel's Avengers being its own thing, if some of these story beats are starting to sound like Avengers: Endgame, you're not the only one. Both projects have been in development for years, so similarities are mostly likely a coincidence. <br><br>

Marvel made a big song and dance of the talent involved with the development of The Avengers game back in 2018, and cemented the point about "a completely new and original story". That's when it was revealed that Shaun Escayg, who worked on Uncharted and The Last of Us games at Naughty Dog, will be the game's creative director.
</p>

<h3>What kind of game will Marvel's Avengers be?</h3>
<p>After the E3 2019 reveal, we have a good idea of the kind of game Marvel's Avengers will be: a continuously singleplayer and co-op 3rd person 'action-adventure' game, with what sound like a few RPG elements. You can "master extraordinary abilities, customize your heroes to fit your playstyle, and combine powers", after all, which all sound kind of RPG-ish. We also know that you can unlock "powerful skills and new gear to build your ideal version of Earth’s Mightiest Heroes." Mention is also made of an 'ever-expanding world under constant threat'. Could this be another entry on the growing list of 'living games'? We'll have to wait and see. <br><br>

Some further details can be garnered through Crystal Dynamics' careers page. The listing for a Camera Designer role (assuming this is for Avengers and not something else, which isn't made clear by the page) mentions that the right candidate will ensure "a smooth and seamless player experience through a rich and epic narrative experience. A successful Camera Designer will be able to collaborate with Artists and Designers to create tools and camera solutions to create a dynamic and living world." 'Living world' is usually a term we associate with open world games. <br><br>

The same listing asks for someone with 3-5 years of working on "3rd person action adventure titles." That's a pretty vague steer as far as genres go, but it suggests this'll be a third-person action game, which is clear from the trailer anyway.
</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../scripts/script.js"></script>

</body>
</html>
