<!DOCTYPE html>
<html>
<head>
  <title>SpongeBob SquarePants: Battle for Bikini Bottom</title>
  <link rel="icon" href="http://images.medicaldaily.com/sites/medicaldaily.com/files/styles/headline/public/2015/11/19/video-games.jpg" type="image" sizes="16x16">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- imports bootstrap -->
  <link rel="stylesheet" type="text/css" href="../styles/styles.css"> <!-- imports styles.css stylesheet -->
</head>
<body>

  <nav class="navbar navbar-light" style="background-color: #4C5760;">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link"  style= "color: #7497b5" href="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="color: #7497b5;" href="/about">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="color: #7497b5;" href="#">Contact</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: #7497b5;" href="/consoles" role="button" aria-haspopup="true" aria-expanded="false">Console</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" style="color: #7497b5;" href="/consoles">Console Page</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/xbox_one">Xbox One</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/PS4">PlayStation 4</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/3ds">Nintendo 3Ds</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/flashGamesHomepage">Flash Games</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" style="background-color: #4b2e63; color: #7497b5;" href="/consoles" role="button" aria-haspopup="true" aria-expanded="false">Games</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" style="color: #7497b5;" href="/xbox_one">Xbox One Games:</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/spongebob_squarepants">Spongebob Squarepants</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/doom_eternal">Doom Eternal</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/borderlands3">Borderlands 3</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/star_wars_jedi">Star Wars JEDI Fallen Order</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/beyond_good_and_evil_2">Beyond Good and Evil 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/gears5">Gears 5</a>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="color: #7497b5;" href="/PS4">PlayStation Games:</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/watch_dogs_legion">Watch Dogs LEGION</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/marvel_avengers">Avengers</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/cyberpunk2077">Cyberpunk 2077</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/the_last_of_us_2">The Last of Us Part II</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/medievil">MediEvil</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/predator">Predator</a>
        <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color: #7497b5;" href="/nintendo">Nintendo Games</a>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="color: #7497b5;" href="/flashGamesHomepage">Flash Games:</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/happyWheels">Happy Wheels</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/raftWars">Raft Wars 1</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/raftWars2">Raft Wars 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/run1">Run 1</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/run2">Run 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/run3">Run 3</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/whg">World's Hardest Game</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/whg2">World's Hardest Game 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/whg3">World's Hardest Game 3</a>

        </div>
      </li>
    </ul>
  </nav>

  <h1>Welcome to the SpongeBob SquarePants: Battle for Bikini Bottom Page</h1>
  <h2>Read the latest info on SpongeBob SquarePants: Battle for Bikini Bottom</h2>

  <p>Fans of early 2000s platformers rejoiced when THQ Nordic announced a revival of everyone's favorite SpongeBob game, SpongeBob SquarePants: Battle for Bikini Bottom – Rehydrated. The game will be playable for the first time at Gamescom next month. <br><br>

THQ Nordic released their full line up for the show and Battle of Bikini Bottom is center stage. "The battle is on! Be among the first to play the remake of the sponge-tastic cult classic!" it reads. We'll finally get the chance to see if the remake lives up to the original. <br><br>

Gamescom is the biggest gaming convention in the world, having more than 370,000 people attending the show in 2018. If you're heading out to Cologne for the bikini bottom party between August 20 and 24, be sure to come prepared for big crowds and long lines. <br><br>

16 years after the original game launched on GameCube and other platformers, THQ Nordic is putting out a new version of the game for PS4, Xbox One, Nintendo Switch, and PC. Here's the official description from the announcement trailer: <br><br>

"Are you ready, kids? The cult classic is back, faithfully remade in spongetastic splendor! Play as SpongeBob, Patrick and Sandy and show the evil Plankton that crime pays even less than Mr. Krabs. Want to save Bikini Bottom from lots of rampant robots? Of course you do! Want to underpants bungee jump? Why wouldn't you! Want to join forces in a brand new multiplayer mode? The battle is on!"
</p>

<h3>GAME FEATURES</h3>
<p>
  <ul>
    <li>Play as SpongeBob, Patrick and Sandy and use their unique sets of skills</li>
    <li>Thwart Plankton's evil plan to rule Bikini Bottom with his army of wacky robots</li>
    <li>Meet countless characters from the beloved series</li>
  </ul>
</p>

<h3>REMAKE FEATURES</h3>
<p>
  <ul>
    <li>Faithful remake of one of the best SpongeBob games ever created</li>
    <li>High-end visuals, modern resolutions and carefully polished gameplay</li>
    <li>Brand new horde mode multiplayer for up to two players, online and splitscreen</li>
    <li>Restored content that was cut from the original game like the Robo Squidward boss fight and more</li>
  </ul>
</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../scripts/script.js"></script>

</body>
</html>
