<!DOCTYPE html>
<html>
<head>
  <title>Borderlands 3</title>
  <link rel="icon" href="http://images.medicaldaily.com/sites/medicaldaily.com/files/styles/headline/public/2015/11/19/video-games.jpg" type="image" sizes="16x16">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- imports bootstrap -->
  <link rel="stylesheet" type="text/css" href="../styles/styles.css"> <!-- imports styles.css stylesheet -->
</head>
<body id="borderlandsBackground">

  <nav class="navbar navbar-light" style="background-color: #4C5760;">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link"  style= "color: #7497b5" href="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="color: #7497b5;" href="/about">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="color: #7497b5;" href="#">Contact</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: #7497b5;" href="/consoles" role="button" aria-haspopup="true" aria-expanded="false">Console</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" style="color: #7497b5;" href="/consoles">Console Page</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/video_games">Video Game Catalogue</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/xbox_one">Xbox One</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/PS4">PlayStation 4</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/3ds">Nintendo 3Ds</a>
          <a class="dropdown-item" style="color: #7497b5;" href="/flashGamesHomepage">Flash Games</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" style="background-color: #4b2e63; color: #7497b5;" href="/consoles" role="button" aria-haspopup="true" aria-expanded="false">Games</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" style="color: #7497b5;" href="/xbox_one">Xbox One Games:</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/spongebob_squarepants">Spongebob Squarepants</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/doom_eternal">Doom Eternal</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/borderlands3">Borderlands 3</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/star_wars_jedi">Star Wars JEDI Fallen Order</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/beyond_good_and_evil_2">Beyond Good and Evil 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/gears5">Gears 5</a>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="color: #7497b5;" href="/PS4">PlayStation Games:</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/watch_dogs_legion">Watch Dogs LEGION</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/marvel_avengers">Avengers</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/cyberpunk2077">Cyberpunk 2077</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/the_last_of_us_2">The Last of Us Part II</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/medievil">MediEvil</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/predator">Predator</a>
        <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color: #7497b5;" href="/nintendo">Nintendo Games</a>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="color: #7497b5;" href="/flashGamesHomepage">Flash Games:</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/happyWheels">Happy Wheels</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/raftWars">Raft Wars 1</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/raftWars2">Raft Wars 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/run1">Run 1</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/run2">Run 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/run3">Run 3</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/whg">World's Hardest Game</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/whg2">World's Hardest Game 2</a>
            <a class="dropdown-item" style="color: #7497b5;" href="/whg3">World's Hardest Game 3</a>

        </div>
      </li>
    </ul>
  </nav>

  <h1 id="borderlandsTitle">Borderlands 3</h1>

<div class="borderlandsLeft">
  <h3>BORDERLANDS 3 STORY</h3>
  <p>The story’s antagonists are the Calypso Twins. Both have Siren-like powers – even though Sirens cannot be male – and they rule a cult called the Children of the Vault, which is abbreviated to COV throughout the gameplay reveal trailer. The dark-haired male is called Troy and his twin’s name is Tyreen. For our money, they either base themselves on Greek mythology, or they really love fruity ice lollies. <br><br>

One snippet in the trailer shows a weakened Lilith with none of her Siren tattoos crawling away from the Calypso Twins, with Troy bearing Siren-like tattoos on his arm. One theory about the Borderlands 3 story revolves around Troy and Tyreen stealing the powers of the world’s Sirens. <br><br>

Either way, the story is tipped to start on Pandora, before setting your squad loose across multiple planets. As the trailer shows some older versions of characters like Tiny Tina and Aurelia, it’s safe to say that a significant passage of time separates the events of Borderlands 2 from the upcoming sequel. <br><br>

While we’re still yet to learn in earnest what Borderlands 3’s story will entail, we do know that the next bit of Borderlands 2 DLC will act as a bridge between the two games. To that end, we wager we’ll get some clues soon enough.</p>
</div>

<div class="borderlandsRight">
  <h3>BORDERLANDS 3 CHARACTERS</h3>
  <p>We now know quite a few of the Borderlands 3 characters thanks to the Mask of Mayhem and reveal trailer. Here is a list of known Borderlands 3 characters: <br><br>

  <ul>
    <li>Lilith</li>
    <li>Maya</li>
    <li>Brick</li>
    <li>Tiny Tina</li>
    <li>Mordecai</li>
    <li>Troy</li>
    <li>Tyreen</li>
    <li>Claptrap</li>
    <li>Moxxi</li>
    <li>Zero</li>
    <li>Amara</li>
    <li>Zane</li>
    <li>Fl4k</li>
    <li>Moze</li>
    <li>Ellie</li>
    <li>Tannis</li>
    <li>Marcus</li>
    <li>Rhys</li>
    <li>Vaughn</li>
    <li>Hammerlock</li>
    <li>Aurelia</li>
  </ul>

  While Handsome Jack is in the teaser trailer, don’t take it too seriously: Pitchford took the stage at the Gearbox PAX East show to explain that, yeah, he’s still dead. Pitchford included him because, in his words, “we’re jerks.” On the plus side, that is an older Tiny Tina you can see in the trailer and Tiny Tina is confirmed to play a combat role alongside the Vault Hunters in the upcoming game. But, when it comes to bosses, some intriguing Morse code hidden within the game’s new dedicated Twitch channel teases the return of Destroyer for Borderlands 3. <br><br>

One thing that all these characters have in common, however, is that they’re wonderfully vibrant and zany. It’s clearly something that Gearbox appreciates, as the studio has gone to great depths to create a Borderlands 3 cosplay guide ahead of E3 that’s stuffed with high-res images. So, if you’re looking to make a start on your cosplay before Borderlands 3 comes out, you should be set.</p>
</div>

<img id="LOUimage" src="https://www.dualshockers.com/wp-content/uploads/2019/04/Borderlands-3-Epic-Games-Store-Gearbox-Steam-Randy-Pitchford-Review-Bombing-PC.png">

<div class="borderlandsLeft">
  <h3>BORDERLANDS 3 VAULT HUNTERS</h3>
  <p>Our new Borderlands 3 vault hunters are Amara (Siren), Zane (Operative), Flak (Beastmaster), and Moze (Soldier). If you want to get a sneak peek at a couple of them in further detail, a Twitch extension allowed us a look at the Borderlands 3 Zane skill tree and the Amara skill tree. <br><br>

On top of that, we’ll also get a peak at a new vault hunter at E3. Gearbox boss Randy Pitchford tweets ahead of E3 that fans can look forward to more gameplay details, and that one of those details includes a new vault hunter. Whether that means a more depth look at what’s already been teased, or something completely new, remains to be seen. <br><br>

However, when it comes to new heroes, it doesn’t look certain that there will be Borderlands 3 vault hunters as DLC. Pitchford informed fans on Twitter that the team are instead going to “put our time into expanding what the existing vault hunters can do and how interesting their future growth is instead of adding new ones to start over with.” Don’t fret, though, there will still be “kickass campaign DLC.”

<ul>
  <li>Amara is the new Siren and appears to pack some very powerful abilities including a melee attack with six summoned arms, a self-projection that can attack, and Phaselock.</li>
  <li>Zane is our wealthy and classy Operative class. Like Zero from Borderlands 2, Zane can throw out a decoy.</li>
  <li>Fl4k is the robotic beastmaster and can choose between three different pets, one of which is a Skag and Fl4k will be voiced by YouTube’s ProZD.</li>
  <li>Moze is the soldier and can call in a giant mech called Iron Bear that she will pilot, with her skill tree built around her mech pal. Other players can hop on the top of the mech and use the powerful mounted gun, too.</li>
</ul>
</p>
</div>

<div class="borderlandsRight">
  <h3>BORDERLANDS 3 GAMEPLAY</h3>
  <p>Borderlands 3 looks similar to the previous games in the series: you’ll be shooting various people and beasts with ridiculous Borderlands 3 weapons as you work to make them even more, er, ridiculous. You’ll get sucked in once again as you watch the damage stats snowball and try to collect as many guns as possible, in fact, Randy Pitchford has confirmed there are over one billion guns in Borderlands 3. <br><br>

You can watch our own Borderlands 3 gameplay in the video above and have a gander at how the game will look in the gallery below. In terms of gameplay additions, there will be Borderlands 3 raids, of which we’ll find out more at E3. Also Borderlands 3’s loot instancing system will be optional. In other words, you can opt out of the system Gearbox have devised to prevent your team members pinching your ill-gotten gains. Mantling and sliding are also new to the game. <br><br>

Borderlands 3 has built on its progression system with Guardian Ranks, which will offer new skills and skins through completing gameplay related challenges. It will also have a Borderlands 3 ping system, just as you’d find in Apex Legends, or Battleborn, to alert fellow teammates to loot, foes, and quest objectives. And, speaking of Battleborn, Borderlands 3 “wouldn’t be as good as it is now” without it, according to art director, Scott Kester. <br><br>

On the tech side, there appears to be a significant visual upgrade. From Epic’s Unreal presentation at GDC 2017 we know that there will be a boost to lighting tech, shadows, and edge outlining. Borderlands is known for its comic-book art style, and Borderlands 3’s visuals appear to be building upon that. <br><br>

Following confusion over the nature of nature of MTX, it has been confirmed that there will be Borderlands 3 microtransactions in the game, but only for cosmetic items. During the game’s gameplay reveal presentation, Pitchford said “there’s no microtransaction-y, free-to-play kind of stuff” but there will be heads and skins available for purchase.</p>
</div>

<img src="https://cdn.wccftech.com/wp-content/uploads/2019/05/borderlands3_bonfire.jpg">

<div class="borderlandsLeft">
  <h3>BORDERLANDS 3 SPLIT-SCREEN CO-OP</h3>
  <p>Playing co-op mode on split-screen has been a staple of the Borderlands series but, admittedly, it’s a sight that has been becoming rarer of late in the wider industry. After watching Gearbox’s official announcement trailer, however, it now seems that Borderlands 3’s split-screen will maintain the series tradition, but sadly, only on console. <br><br>

If this were to happen the obvious perk would be that you can play couch co-op with your buddies like old times. Don’t fret though, if the distance between you and your fellow Vault Hunters is too great and this were to happen, you would still be able do co-op online. <br><br>

Speaking of, there’s a chance there could be Borderlands 3 cross-play; Pitchford tweeted that, while it would not be there when the game releases, it will be “as soon as practicable after launch”. Naturally, that depends on the suits running the various console shows, but hopefully we can play with our friends with boxes sooner, rather than later.</p>
</div>

<div class="borderlandsRight">
  <h3>BORDERLANDS 3 MULTIPLE PLANETS</h3>
  <p>Where the series has stuck to Pandora and it’s moon of Elpis so far, Borderlands 3’s Sanctuary 3 ship lets you visit multiple. We’ve already played through part of the Blade Runner-esque planet of Promethea – which you see in our gameplay video above – and there will be others. <br><br>

Sanctuary 3 is a customisable interstellar hub that allows you to jet between your desired celestial body, tweak the decor of your quarters, and decorate your room with the gory trophies of the enemies you’ve viciously killed. You can also show off your zaniest guns on weapon racks, change your appearance with the Quick Change machine, and buy supplies from on-board vendors. <br><br>

This has all been confirmed by the Borderlands 3 reveal trailer, which mentions exploring different worlds. The trailer features a number of different biomes ranging from classic Borderlands dust bowl to swamps and sci fi cities. Hopefully these are all different planets. <br><br>

We also recently learned, through Randy Pitchford’s Twitter, that we’ll get a good look at one of the game’s planets as part of Borderlands 3’s E3 showcase.</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../scripts/script.js"></script>

</body>
</html>
