<!DOCTYPE html>
<html>
<head>
  <title>Doom Eternal</title>
  <link rel="icon" href="http://images.medicaldaily.com/sites/medicaldaily.com/files/styles/headline/public/2015/11/19/video-games.jpg" type="image" sizes="16x16">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- imports bootstrap -->
  <link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>
<body id="doomBackground">

  <div class="pos-f-t">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Navbar content -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/xbox_one_games"><span class="sr-only">(current)</span>Back to Selection</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Contact</a>
      </li>
      </ul>
    </nav>
  </div>

  <h1 id="doomTitle">Doom Eternal</h1>

<div class="doomLeft">
  <p>A year after Doom: Eternal debuted, we've seen a lot more about the sequel to the much-loved 2016 reboot. The new game looks even faster, more frenetic, and more gore-filled than its predecessor - which you can discover when Doom: Eternal comes out on November 22, 2019. <br><br>

Few franchises embody the FPS genre quite like Doom. Packed to the seams with blood, hellfire, shotguns, and even more blood, id Software's ultra-violent shooter has earned legions of fans since its first game in 1993: pitching a nameless marine against hordes of demons unleashed from hell. <br><br>

Now, two years after a 2016 reboot brought the franchise successfully to modern consoles, we have word of a direct sequel: Doom Eternal. The sequel will have the single-player mode continuing where the first game left off: DoomGuy has been teleoprted to an unknown location and it's up to them to save a demon-invaded Earth.
</p>
</div>

<img src="https://cnet4.cbsistatic.com/img/ng0rL6qfnx6o3zhkrbZZx_MqUs8=/1092x0/2019/06/07/4d167f1b-6b2a-4765-8fbb-97c4daf61472/dnhvety4sfqbqcm2cycd.jpg" width=685 height=500>

<div class="doomRight">
<h3>Stadia Launch Site</h3>
<p>Google is entering the gaming fray via its new streaming service, Stadia, and it's bringing Doom Eternal with it. The iD shooter will be a launch title for Google Stadia. It will allow you to stream the game at maximum PC gaming graphic quality levels in 4K resolution and at 60fps to any screen capable of running the Chrome browser, or connecting to a Chromecast dongle, with apparently little latency. It's not yet certain how much it will cost to access Doom Eternal through Stadia, or when the service will launch beyond a vague "2019" window.</p>
</div>

<img src="https://www.thestar.com.my/~/media/online/2019/07/24/10/46/doometernal_afp.ashx/?w=620&h=413&crop=1&hash=55A50D5D34215E2F757627002F33CFB820DFEE85" width=700 height=500>

<div class="doomLeft">
<h3>Slayer 2.0</h3>
<p>The team has created the most powerful Doom slayer we’ve seen yet, with enhanced armor and an arsenal of badass new equipment, including a shoulder-mounted cannon with flamethrower, an extendable blade, and a new dash ability. In addition there's an upgraded selection of guns and mods to play with, such as the Super Shotgun's new Meat Hook attachments which pulls you into the face of enemies.</p>

<h3>A host of new demons (and returning favorites)</h3>
<p>Doom Eternal will see the return of classic demons such as the Pain Elemental, Archvile and Arachnotron, alongside an array of brand-new demons like the Doom Hunter and the corrupted Marauders.</p>
</div>

<img src="https://s3.amazonaws.com/prod-media.gameinformer.com/styles/full/s3/2018/08/02/43b227b6/asdf.jpg" width=685 height=500>

<img src="https://media.playstation.com/is/image/SCEA/doom-eternal-screen-09-ps4-us-10aug18?$native_nt$" width=700 height=500>

<div class="doomRight">
<h3>Invasion</h3>
<p>An all-new Invasion mode allows other players to invade your campaign as a demon. Likewise, you can join the demon horde yourself and invade other players' campaigns - either alone or as part of a hunting party.</p>

<h3>There's no place like home</h3>
<p>Instead of the previous game's isolated mining site on Mars, Doom Eternal brings the action to Earth, and it looks like there's been a lot of damage. Skulls litter the ground, creatures howl, and tendrils pull apart skyscrapers in the distance. <br><br>

While Doom is traditionally known for its tight, claustrophobic level design, a more expansive map could encourage different styles of play and allow for far bigger set pieces (read: bigger demons). <br><br>

We imagine Doom Eternal will continue with the same fast-paced, gun-heavy combat the series is known for. But Bethesda has promised a lot more demons to fight, and that you'll feel a lot more powerful this time around.</p>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../scripts/script.js"></script>

</body>
</html>
