<!DOCTYPE html>
<html>
<head>
  <title>SpongeBob SquarePants: Battle for Bikini Bottom</title>
  <link rel="icon" href="http://images.medicaldaily.com/sites/medicaldaily.com/files/styles/headline/public/2015/11/19/video-games.jpg" type="image" sizes="16x16">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- imports bootstrap -->
  <link rel="stylesheet" type="text/css" href="../styles/styles.css"> <!-- imports styles.css stylesheet -->
</head>
<body id="spongebobBackground">

  <div class="pos-f-t">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Navbar content -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/xbox_one_games"><span class="sr-only">(current)</span>Back to Selection</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Contact</a>
      </li>
      </ul>
    </nav>
  </div>

  <h1 class="spongebobTitle">SpongeBob SquarePants: Battle for Bikini Bottom</h1>
<div class="spongebobLeft">
  <p>Fans of early 2000s platformers rejoiced when THQ Nordic announced a revival of everyone's favorite SpongeBob game, SpongeBob SquarePants: Battle for Bikini Bottom – Rehydrated. The game will be playable for the first time at Gamescom next month. <br><br>

THQ Nordic released their full line up for the show and Battle of Bikini Bottom is center stage. "The battle is on! Be among the first to play the remake of the sponge-tastic cult classic!" it reads. We'll finally get the chance to see if the remake lives up to the original. <br><br>

Gamescom is the biggest gaming convention in the world, having more than 370,000 people attending the show in 2018. If you're heading out to Cologne for the bikini bottom party between August 20 and 24, be sure to come prepared for big crowds and long lines. <br><br>

16 years after the original game launched on GameCube and other platformers, THQ Nordic is putting out a new version of the game for PS4, Xbox One, Nintendo Switch, and PC. Here's the official description from the announcement trailer: <br><br>

"Are you ready, kids? The cult classic is back, faithfully remade in spongetastic splendor! Play as SpongeBob, Patrick and Sandy and show the evil Plankton that crime pays even less than Mr. Krabs. Want to save Bikini Bottom from lots of rampant robots? Of course you do! Want to underpants bungee jump? Why wouldn't you! Want to join forces in a brand new multiplayer mode? The battle is on!"
</p>
</div>

<img src="https://assets1.ignimgs.com/2019/06/05/spongebob-squarepants-battle-for-bikini-bottom-rehydrated-button-01-1559758706060.jpg" width=600 height=550>

<div class="spongebobLeft1">
<h3>GAME FEATURES</h3>
<p>
  <ul>
    <li>Play as SpongeBob, Patrick and Sandy and use their unique sets of skills</li>
    <li>Thwart Plankton's evil plan to rule Bikini Bottom with his army of wacky robots</li>
    <li>Meet countless characters from the beloved series</li>
  </ul>
</p>
</div>

<div class="spongebobRight">
<h3>REMAKE FEATURES</h3>
<p>
  <ul>
    <li>Faithful remake of one of the best SpongeBob games ever created</li>
    <li>High-end visuals, modern resolutions and carefully polished gameplay</li>
    <li>Brand new horde mode multiplayer for up to two players, online and splitscreen</li>
    <li>Restored content that was cut from the original game like the Robo Squidward boss fight and more</li>
  </ul>
</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../scripts/script.js"></script>

</body>
</html>
