<!DOCTYPE html>
<html>
<head>
  <title>Xbox One games</title>
</head>
<body>
  <h1>Welcome to the Xbox One games</h1>
  <h2>Pick a game to read the latest info on it.</h2>
  <a href="http://localhost:8080/spongebob_squarepants"><img src="https://www.gamestop.com/common/images/lbox/202702brp.jpg"></a>
  <a href="http://localhost:8080/doom_eternal"><img src="https://www.gamestop.com/common/images/lbox/171395brp1.jpg"></a>
  <a href="http://localhost:8080/borderlands3"><img src="https://www.gamestop.com/common/images/lbox/194734b.jpg"></a>
  <a href="http://localhost:8080/star_wars_jedi"><img src="https://www.gamestop.com/common/images/lbox/195453brp1.jpg"></a>
  <a href="http://localhost:8080/beyond_good_and_evil_2"><img src="https://s2.gaming-cdn.com/images/products/3577/271x377/beyond-good-and-evil-2-xbox-one-cover.jpg"></a>
  <a href="http://localhost:8080/gears5"><img src="https://www.gamestop.com/common/images/lbox/198520b.jpg"></a>

  <!-- ('/spongebob_squarepants', SpongebobHandler), #xbox one game
   ('/doom_eternal', DoomEternalHandler), #xbox one game
   ('/borderlands3', BorderlandsHandler), #xbox one game
   ('/star_wars_jedi', StarWarsJediHandler), #xbox one game
   ('/beyond_good_and_evil_2', BeyondGandEHandler), #xbox one game
   ('/gears5', GearsFiveHandler), #xbox one game -->

</body>
</html>
