<!DOCTYPE html>
<html>
<head>
  <title>Star Wars Jedi: Fallen Order</title>
  <link rel="icon" href="http://images.medicaldaily.com/sites/medicaldaily.com/files/styles/headline/public/2015/11/19/video-games.jpg" type="image" sizes="16x16">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- imports bootstrap -->
  <link rel="stylesheet" type="text/css" href="../styles/styles.css"> <!-- imports styles.css stylesheet -->
</head>
  <body>

    <div class="pos-f-t">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Navbar content -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/xbox_one_games"><span class="sr-only">(current)</span>Back to Selection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Contact</a>
        </li>
        </ul>
      </nav>
    </div>

    <h1>Welcome to the Star Wars Jedi: Fallen Order Page</h1>
    <h2>Read the latest info on Star Wars Jedi: Fallen Order</h2>

  <h3>Star Wars Jedi: Fallen Order's release date is confirmed</h3>
  <p>Star Wars Jedi: Fallen Order is releasing on November 15, 2019 on PC and consoles, as confirmed by the Star Wars Celebration panel. You can pre-order it on Origin already, and there are two editions: a standard edition and a deluxe edition, the latter of which includes some extra cosmetic DLC, and behind-the-scenes features and content.</p>

  <h3>Star Wars Jedi: Fallen Order's story is set after Revenge of the Sith</h3>
  <p>Cal Kestis, played by Gotham’s Cameron Monaghan, is a young force user and a budding Jedi, and he's the hero of Star Wars Jedi: Fallen Order. He’s survived the initial onslaught of the infamous Order 66, but now he’ll be on the run in plain sight, until some incident forces him to expose his force powers. He’s now hunted by the Second Sister. No, not the Seventh Sister from Clone Wars, but definitely another Imperial Inquisitor who lives to hunt Jedi. According to Respawn's Vince Zampella, she's powerful enough to control the flight stick of Cal's escape ship remotely, so she'll definitely present a challenge. <br><br>

  “Many Star Wars fans, ourselves included, are really interested in the dark times, so we wanted to explore that mysterious, dangerous period,” says Stig Asmussen, game director on Star Wars Jedi: Fallen Order, who previously worked on the God of War series. “The team at Lucasfilm have been amazing collaborators, helping us explore and further develop this part of the timeline where the Empire is at the height of its power and any remaining Jedi are in hiding. Within this narrative, we’ve crafted a game with intense, yet thoughtful and fun melee combat using the lightsaber and Force powers, allowing anyone to fulfill their Jedi fantasy.” <br><br>

  From a press release, we've learned we'll meet Cal on Bracca, one of several new worlds Respawn is bringing to the Star Wars universe. He's going to meet a fairly wide cast of characters as he runs from the Empire, such as a "mysterious companion" named Cere, but Cal will also have a little droid friend named BD-1. He can toss Cal health packs and explore cramped parts of the environment that Cal can't reach. <br><br>

  It's confirmed Cere is a former Jedi Knight, but we're not sure if that means she left the Jedi Order before or after Order 66. <br><br>

  Purge Troopers will also be a force hunting for Cal. These guys are an early version of the Dark Troopers we see in the film Rogue One, but they'll evidently be fighting enemies with the same shock sticks we see in Clone Wars. They also take great selfies, apparently.</p>

  <h3>Star Wars Jedi: Fallen Order's gameplay will be heavy on the melee</h3>
  <p>Respawn wants you to know that they love lightsaber battles as much as you do. From a press release, Respawn has given us a little taste of what that means for Jedi: Fallen Order's gameplay, calling it "thoughtful combat," and saying its an easy-to-learn, lifetime-to-master affair. <br><br>

  "Players will use their Jedi training to create different melee combinations with an innovative lightsaber combat system and Force abilities. Players will also use traversal and other platforming abilities to strategically overcome opponents and solve puzzles in their path across this galaxy-spanning adventure. " <br><br>

  According to Respawn, it's not just Cal who will be growing. Your lightsaber will be evolving in its own right over the course of the game, although details are sparse on what that means. Perhaps it'll be something similar to the Force Unleashed games where you can transfer kyber crystals and customize your own look and powers—at E3 2019 Respawn confirmed that you will be able to change the colour of your lightsaber's 'blade', though it sounds like red will not be an option. In the story trailer at least, we see Cal stopping a giant rotating fan before a Purge Trooper shoves him into it, plus earlier in the trailer it looks like he may be trying to save his friend from falling into what has to be a sarlacc pit.</p>

  <h3>That's great, but your lightsaber can't dismember stormtroopers</h3>
  <p>It's a bit grim, but the old Jedi Knight games communicated the true power of a lightsaber by letting you slice through stormtroopers like sticks of butter. Unfortunately, the same won't be true for Jedi Fallen Order, according to an IGN preview. Though, you will be able to slice up non-humanoid baddies like droids or the oversized spiders seen in the E3 2019 gameplay reveal.</p>

  <h3>Force powers include push, pull, and slow</h3>
  <p>In the gameplay demo shown at E3 2019 we got a look at Cal's early-game powers. Jedi Knight classics push and pull are in, and you can chain the pull into an execution move that sees Cal use his lightsaber to viciously impale the enemy. You can get meaner with his slow force power. In the demo Respawn slowed a blaster bolt in mid-air and then used pull to pick up a trooper and force him in front of his own fired shot. Respawn has confirmed that there will be more force powers, but they're a secret for now.</p>

  <h3>There won't be a light side/dark side choice system</h3>
  <p>When you play as Jedi in Star Wars games you often have the chance to choose whether you indulge the light side or the dark side of the force. It looks like Cal is a true light side devotee. At the EA Play panel at E3 2019 Vince Zampella and Stig Asmussen confirmed that you won't be making any light side/dark side choices for "reasons", probably because the game is a linear rollercoaster experience and branching story paths may not suit.</p>

  <h3>Star Wars Jedi: Fallen Order is not an open world game, but it'll feature 'combat, exploration and puzzle-solving'</h3>
  <p>The product description for Jedi: Fallen Order reveals a lot more details we didn't get at Celebration. First of all, while Respawn has clarified that the game isn't an open world game, the description promises that you will have "the freedom to decide when and where you go next", with the chance to 're-traverse' areas of the game in new ways. Your Force powers will open up new ways to explore. It won't all be Jedi combat, either: expect "a wide range of challenges focused on combat, exploration and puzzle-solving." <br><br>

  During his hands-on time with Fallen Order at E3 this year, Evan noted that areas included more Metroid-like backtracking and Souls-like secret areas than he had anticipated. "I got my ass kicked when I waded into the fight, only escaping by hitting the d-pad to spend the Jedi equivalent of Estus flasks and restore my health. It turned out that I could've avoided this carefully-designed encounter entirely." Some encounters, like the one Evan stumbled into, can be circumvented, while other areas of maps will be blocked until you return later with new abilities.</p>

  <h3>Your ship serves as a hub, and healing works like Dark Souls</h3>
  <p>Each planet will have a landing zone for your ship where you can rest up, save your game, and craft upgrades, and upgrade Cal's abilities. There are also save points in the world, but using these will respawn minor enemies in the area, much like Dark Souls' bonfires do. <br><br>

  Your healing abilities are also similar to Dark Souls. Your loyal droid has a set number of healing canisters that are replenished at save points. As you gather resources you can upgrade the number of canisters the droid can carry. Respawn also promises cosmetic upgrades to your droid and your trusty ship throughout the game.</p>

  <h3>After feedback, lightsabers will look more like the movies at launch</h3>
  <p>Game director Stig Asmussen recently sat down with Game Informer and spoke on some feedback they received after their gameplay reveal at E3 2019. Critics pointed out that Cal's lightsaber was missing the solid white light center of traditional lightsabers. "We made a mistake on that one, and since then we've fixed it," Asmussen said. <br><br>

  "That was very fair feedback, fair criticism. We've tweaked that, and we've also tweaked the shape of the lightsaber blade a little. You can see the difference right away." Most likely, we'll get our first look at the tweaked lightsaber design closer to launch.</p>


    <!-- imports all script files including project's script.js file, jQuery, and bootstrap script files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../scripts/script.js"></script>
  </body>
</html>
