<!DOCTYPE html>
<html>
<head>
  <title>Beyond Good and Evil 2</title>
  <link rel="icon" href="http://images.medicaldaily.com/sites/medicaldaily.com/files/styles/headline/public/2015/11/19/video-games.jpg" type="image" sizes="16x16">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- imports bootstrap -->
  <link rel="stylesheet" type="text/css" href="../styles/styles.css"> <!-- imports styles.css stylesheet -->
</head>
<body class="beyondBackground">

  <div class="pos-f-t">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Navbar content -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/xbox_one_games"><span class="sr-only">(current)</span>Back to Selection</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Contact</a>
      </li>
      </ul>
    </nav>
  </div>

  <h1 class="beyondTitle">Beyond Good and Evil 2 <br><br></h1>

<div class="beyondLeft">
<h3>Online play</h3>
<p>Michel Ancel has said the game will be playable online, which falls in line with Ubisoft's shift towards securing long-term player engagement from its games. At the moment it's still not clear how online play will actually work – it could be a separate mode with individual matches or it could work more like Far Cry 5 which allows players to go through the entirety of the main game with a friend.  We hope it's the latter.</p>

<h3>Own more than one ship</h3>
<p>Players will be able to own multiple ships, increasing their scale and crew size as they go. Once a player has a larger ship they'll even be able to store their smaller one-man dogfighting vessels inside it. <br><br>

Furthermore, the environments will be somewhat destructible, allowing parts of buildings to be demolished but not entire large structures, apparently. Real-time meteor showers will be able to impact entire portions of planets which could potentially trigger missions and story events. </p>

<h3>Extensive exploration</h3>
<p>Furthermore, exploration will apparently be a big theme, and you will be able to fly from a planet into space seamlessly without loading times—much like in No Man's Sky. There will also be spaceships of varying sizes, including vast ones that can hold smaller ones within. <br><br>

Ancel also talks a bit about the world in which these characters exist, with the social structure seemingly keeping these hybrid creatures down, along with the vile threat of slavery. He suggests that the crew you see in the Gada ship, comprised of varying hybrids and humans of different origins, showcases the diverse message that the game hopes to convey despite the ugliness in the world. It's "exactly the heart of Beyond Good and Evil 2," he explains.</p>
</div>

<img src="https://o.aolcdn.com/images/dims?quality=85&image_uri=https%3A%2F%2Fs.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2F42021901600c26e0dfbb407e664ce9a3%2F206452575%2Fbgefeat.jpg&client=amp-blogside-v2&signature=72c0748d908867f3fe7ab46dafd4f95b1082842a" width=730 height=680>

<div class="beyondLeft1">
<h3>A brand new game engine</h3>
<p>Ubisoft has revealed the Beyond Good and Evil 2 is being worked on using a brand new game engine called Voyager. To capture Michel Ancel's vision for the game and create a world as large as this game's one will be, a brand new game engine was completely necessary and the tech for it has been in development for the past 3 years. </p>

<h3>Franchise history</h3>
<p>As of now, only one game has been released in this series: the original Beyond Good and Evil, which hit PlayStation 2, Xbox, GameCube, and PC back in 2003. <br><br>

Photojournalist Jade's quest to investigate and uncover an alien conspiracy leads to a grand and diverse adventure spanning stealth navigation, melee combat, puzzle solving, photography, and even racing. Slick art direction, entertaining action, and compelling characters and story threads made Beyond Good and Evil a fan favorite, even if the game wasn't a sales success. <br><br>

Luckily, it became a true cult classic over time, and Ubisoft revived the original game with an HD edition for PlayStation 3 and Xbox 360 in 2011. It's also backwards compatible with the Xbox One, so at least you can play it on one of the current consoles. <br><br>

Beyond Good and Evil 2 was first announced all the way back in 2008 with a very odd teaser trailer, which sets the tone for a version of the game we may never experience. It shows Jade and Pey'j on the side of the road with a broken hover car, as Pey'j snorts and digests passing flies. Quite a change from what we eventually saw at E3 2017! <br><br>

In 2009, meanwhile, a leaked video—which looks like target gameplay footage—shows an acrobatic Jade winding her way through a busy city as she climbs, runs, takes out guards, and eventually grabs hold of a helicopter and escapes. However, later that summer, Ubisoft confirmed that the game would not yet begin full production. <br><br>

In the years since, we've seen various teases and confirmations of its continued development, with Ubisoft acknowledging work on it in 2014 and 2016. <br><br>

And then, late in 2016, Ancel affirmed that they were full steam ahead in pre-production, which Ubisoft also confirmed. <br><br>

According to Ancel, the team has been working on the game intently since Rayman Legends shipped in 2013, and that earlier work on the game had been halted due to technical limitations back then.</p>
</div>

<div class="beyondRight">
<h3>What we'd like to see</h3>
<p>Well, we'd like to see the actual game most of all. The trailer is rich and inviting, and clearly shows a lot of work and attention being paid to Beyond Good and Evil 2's game world. It can send our imaginations wandering into so many different directions, which is the problem: how will this vision coalesce into a cohesive game? We just don't know. <br><br>

Ancel's trailer breakdown video offers some hints, with the promise of a huge, vertical world, cooperative online play of some sort, and the ability to jet off into space without worrying about loading screens or other frustrating breaks in the action. It sounds massively ambitious, but that's very much in line with Ubisoft's modern approach: the company does vast open worlds now, and nearly all of its AAA properties follow some version of that mold. <br><br>

Our hope is that Beyond Good and Evil's spirit doesn't get lost in the vastness of that open concept, and that the game retains its individuality despite opening up and bringing in some level of multiplayer action. Based on the trailer, we are definitely encouraged about the tone and distinctiveness of the game, although besides the whole matter of how the actual game looks and plays, there are still questions about when we'll get to play it and on which devices. <br><br>

Hopefully we don't have to wait too long to get some concrete answers. On the other hand, it has been 14 years since the first game released, and nine years since this sequel was revealed, so it's clear that Ubisoft is happy to take its time to get this right. Let's hope the long wait truly pays off.</p>

<h3>Will there be a beta?</h3>
<p>There will! Ubisoft confirmed during E3 2018 that Beyond Good and Evil 2 will have a beta and it's possible to sign up for it now. However, do be aware that it's not expected that the beta will be live and playable until the end of next year. It's likely that more will be revealed during E3 2019. </p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../scripts/script.js"></script>

</body>
</html>
